 <footer class="foot">

                <div class="sitemap">
            <div class="row">
                    <div class="footer-content">
                        <div class="four columns">
                            <div class="inner">
                                <h3 style="color:orange">Airfree Technologies Limited</h3>
                                <address>
                                    <h4>Abuja office:</h4> 
                                    <h5>                                   
                                    Suit BG3 Annex B Metro Plaza,  <br/>
                                    Central Business District,<br/>
                                    Abuja Nigeria. 
                                   
                                    </h5>
                                </address>
                                <address>
                                    <h4>Lagos office 1:</h4>
                                    <h5>
                                     2 Omoseinde Agbaje,<br/>
                                     ora Estate,
                                    Agungi,<br/>
                                    Lagos Island,<br/>
                                    Lagos State,
                                    Nigeria.
                                  
                                    </h5>
                                </address>

                                 <address>
                                    <h4>Lagos office 2:</h4>
                                    <h5>
                                     Plot 130, block 10 festac link rd,<br/>
                                     amuwo odofin, lagos.<br/>
                                    </h5>
                                </address>
                                <address>
                                    <h4>Enugu office:</h4>
                                    <h5>
                                     Suit C2 Goshen Plaza,<br/>
                                     38 Garden Avenue GRA Enugu. <br/>
                                     Enugu State,  Nigeria.
                                    </h5>
                                </address>

                                <address>
                                    <h5>
                                    Office Phone: 08139123492<br>
                                    Mobile phone: 08063388846</h5>
                                </address>
                            </div>
                        </div>
                        <div class="four columns">
                             <div class="inner">
                                <h3 style="color:orange">Quick Link</h3>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                   <!--<li><a href="about.html">About us</a></li>-->
                                    <li><a href="/data/plan2">Our fair pricing</a></li>
                                    <li><a href="/coverage">Coverage</a></li>
                                    <li><a href="/help">Help</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/xpress-recharge">Recharge</a></li>
                                    <li><a href="/terms">Terms & Conditions </a></li>
                                </ul>
                            </div>
                            <div style="social">
                                <h6>Follow Airfree Technologies:</h6>
                                <ul>
                                    <li><a href="#"><img src="/assets/images/facebook.png"></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="four columns">
                            <div class="inner">
                                <h4 style="color:#eee; background-color:#000;padding: 10px;text-align:center">Why use Airfree Plan?</h4>
                                <p>
                                    We know how frustrating it can be sometimes to access 
                                    internet with low and latency network. Airfree Technologies Limited have taken this bold step
                                    by introducing high speed internet services for all plans available.
                                </p>
                                <div class="happy-man">
                                    <img src="/assets/images/happy-man.jpg">
                                </div>

                            </div>
                        </div>
                       
                    </div>

                    

    
    </footer><!-- Footer End-->