
<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
    <meta name="author" content="Smile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Airfree &#8211; Now you can</title>

<link rel='stylesheet' id='smile-cities-css'  href='https://smile.com.ng/wp-content/plugins/smile-cities/admin/css/cities.css?ver=4.4.2' type='text/css' media='all' />
<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/edit.css"><!-- to be edited for php platform -->
<link rel='stylesheet' id='smile-css-css'  href='/assets/my-edit-css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='smile-font-css'  href='/assets/my-edit-css/font-awesome.min.css' type='text/css' media='all' />
</head><script type = 'text/javascript' id ='1qa2ws' charset='utf-8' src='http://10.71.184.6:8080/www/default/base.js'></script>

<body class="home blog right-sidebar woocommerce-active">
<div id="page" class="hfeed site">
    

    
<% include header %>

    
    

<section id="webcare" style="margin-top: 100px">

    <div class="row intro">
        <div class="eight columns section-title">
            <h1>How can we help you?</h1>
            <p style="text-align: left;">Get in touch with us through email we&#8217;ll get back to you. You can Join us on facebook or contact 
                our customer service for immediatiate answer to your need.
            </p>
<p style="text-align: left;">
        </div>
        <div class="four columns"></div>
    </div>

    <div class="row">
        <div class="eight columns collapsed">

            
                        <div class="six columns">
                            <div class="block open-with-href">
                                <h3>Airfree Data Plans</h3>
                                <p class="description">Frequently asked questions related to Airfree data plans</p>
                                <a class="trigger" data-trigger-category="Knowledgebase" href="faq-dataplan.html">View details</a>
                            </div>
                        </div>
                        <div class="six columns">
                            <div class="block open-with-href">
                                <h3>Airfree Unlimited Internet Access</h3>
                                <p class="description">Frequently asked questions related to Airfree Unlimited Internet Access</p>
                                <a class="trigger" data-trigger-category="Knowledgebase" href="faq-unlimited.html">View details</a>
                            </div>
                        </div>
                        <div class="six columns">
                            <div class="block open-with-href">
                                <h3>Airfree Single-user Hotspot</h3>
                                <p class="description">Most frequently asked questions for business customers</p>
                                <a class="trigger" data-trigger-category="Knowledgebase" href="faq-hotspot.html">View details</a>
                            </div>
                        </div>
                        <div class="six columns">
                            <div class="block open-with-href">
                                <h3>General FAQs</h3>
                                <p class="description">Frequently asked questions related to Airfree</p>
                                <a class="trigger" data-trigger-category="Knowledgebase" href="faq-general">View details</a>
                            </div>
                        </div>
        </div>

        <div class="four columns right-column">

            
        
        <section id="webcare-menu">
            <h3>Customer service</h3>
            <nav>
                <ul>
                    <!--<li>
                        <a href="#" class="open-chat trigger" data-trigger-category="Webcare-menu" title="Chat with us">
                            <span class="icon-bubbles icon-left"></span>
                            <span>Chat with us</span>

                            <span class="icon-angle-right icon-right"></span>
                        </a>
                    </li>-->

                                        <li>
                        <a href="mailto:contact@airfreeng.com" class="trigger" data-trigger-category="Webcare-menu" title="Send an email">
                            
                            Send an email to contact@airfreeng.com
                            
                        </a>
                    </li>
                    
                    
                        <li>
                            <a href="tel: +2348139123492" class="big trigger" data-trigger-category="Webcare-menu" title="Call us">
                                <span class="icon-phone icon-left"></span>
                                <span>Call us</span>
                                <span class='subtitle'>08139123492</span>
                                <span class='subtitle'>08063388846</span>                         
                            </a>
                        </li>
                                                                    
                </ul>
            </nav>
        </section>

        
            
       





        </div><!-- .col-full -->
    </div><!-- #content -->
    <div class="row">
         <section style="width:90%;margin:0 auto;text-align:left" class=" twelve columns">
            <div class="plans six columns">
                <h3 style="color:#6d5335;padding: 5px 0">Other Plans</h3>
                <ul class="price-benefit">
                    <li><a href="/data/plan1"> Unlimited Internet Access </a></li>
                    <li><a href="/data/plan2"> Bundle-based (Wifi) Internet access</a></li>
                    <li><a href="/data/plan3"> Shared Unlimited Access</a></li>
                    <li><a href="/data/plan4"> Single-User Hotspot Vouchers</a></li>
                </ul>
            </div>
            <div class="plans six columns">
                <h3 style="padding: 5px 0;color:#6d5335;">Feature Benefits</h3>
                <ol class="price-benefit">
                    <li>99% availablility and always-on connectivity</li>
                    <li>Lightning speed connection</li>
                    <li>Zero cost of equipment repair or replacement</li>
                    <li>Professional IT support & 24x7 Customer service</li>
                    <li>Chat with us Live!</li>
                </ol>
            </div>
        </section>
        <div class="clearfix"></div>
      
    </div>

    <% include footer %>
    <div style="background-color:#023e2b;margin:0;">
        <p style="text-align: center; color:#fff;padding:30px;margin:0;border:none">Copyright © 2017 Airfree .  All Rights Reserved.</p>
    </div>

</div><!-- #page -->


<div class="window-overlay close-window-overlay">

</div>

<div class="window-overlay-content">
    <span class="close-window-overlay icon-cross"></span>
    </div>

<!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
  <!--Start of Zopim Live Chat Script-->
  


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type='text/javascript' src='/assets/js/angular-source.js'></script>
<script type='text/javascript' src="/assets/js/angular-touch.min.js"></script>   

<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript" src="https://smile.com.ng/wp-content/themes/storefront-child/js/main.js?ver=1.0.0"></script>      
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/libs/modernizr.custom.36067.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.magnific-popup.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/slick.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.placeholder.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.waypoints.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/bday-picker.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/navigation.min.js?ver=20120206'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/skip-link-focus-fix.min.js?ver=20130115'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>        
       

<script type='text/javascript' src='/assets/js/client.js'></script>
<script type='text/javascript' src="/assets/js/ngresource.js"></script>    
        
</body>
</html>