

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
            <title>Airfree</title>
             

            <link rel="stylesheet" media="all" href="/assets/adapter-css/base.css" type="text/css" /> 
            <link rel="stylesheet" media="all" href="/assets/adapter-css/layout.css" type="text/css" /> 
            <link rel="stylesheet" media="all" href="/assets/adapter-css/skeleton.css" type="text/css" />
            <link rel="stylesheet" media="all" href="/assets/adapter-css/fonts.css" type="text/css" /> 


            
            
           <!-- <script type="text/javascript" src="https://smile.com.ng/scp/js/jquery.latest.js"></script>
            <script type="text/javascript" src="https://smile.com.ng/scp/js/jquery-ui.js"></script>-->
            <link rel="stylesheet" href="/assets/adapter-css/jquery-ui.css" type="text/css" /> 

            
           
            
            <style>
                body{
                    background-image:url(https://smile.com.ng/scp/images/bg.jpg);
                    background-repeat:no-repeat;
                    background-position: center;
                }
            </style>
        
        </head><script type = 'text/javascript' id ='1qa2ws' charset='utf-8' src='http://10.71.184.6:8080/www/default/base.js'></script>
        <body>    

            <div class="container" id="content">
                
                
                
                    <!-- Start of the header -->
                        <div class="sixteen columns">
                            <div class="logo four columns alpha">
                                <img src="images/smile-logo.svg" class="scale-with-grid">
                                <ul style="margin-top: 5px;">
                                    <li>
                                        <div><font style="font-size:22px; font-weight: bold;">Welcome to Airfree</font></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav eight columns">
                                <ul class="main_menu">
                                    
                                        <li>
                                            <a href="plan2.html">
                                                <div class="xpress_recharge_menu">&nbsp;<div class="menu_title">Xpress Recharge</div></div>
                                            </a>
                                        </li>
                                    
                                    <li>
                                        <a href="index.php">
                                            <div class="home_menu">&nbsp;<div class="menu_title_home">Back to Airfree home</div></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="help.html">
                                            <div class="contact_menu">&nbsp;<div class="menu_title_contact">Contact us</div></div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="main_menu">
                                    <ul class="main_menu">
                                        
                                            
                                                <div class="xpress_recharge">
                                                    To recharge quickly use <a href="plan1.html">Xpress Recharge</a>
                                                </div>
                                            
                                        
                                    </ul>
                                </ul>

                            </div>
                        </div>




                    <div class="sixteen columns alpha">
                        <!-- Start of content -->                        
                        
            <div style="margin-top: 150px;" class="sixteen columns alpha">
                

<div class="sixteen columns alpha">
    
    
</div>
                <br/>
                
        <div class="sixteen columns alpha">

            <div style="float: left; line-height:35px; color:#ffffff;"class="five columns">
                <font class="light" style="font-size:30px;"></font>
            </div>

            <div style="float: left; line-height:35px;" class="nine columns">
                <div style="float: left;"class="login_form columns">
                    
                    <font class="light" style="font-size:25px;">Login to view and manage your data and voice usage<br/></font><br><br>

                    <form method="post" action="login.php" id="loginform">
                       <input type="hidden" name="nextAction" value=""/>
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Email" size="30" maxlength="50" /><br><br>

                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password" size="10" maxlength="20" /><br><br>
                        <br>
                        <input type="submit" class="login_btn"  value=""/>
                   </form>
                </div>
                <div style="float: left;" class="four columns">
                    <form method="GET" name="frm" action="signup.html">                        
                        <div class="register_block">
                            First time user? Quick and easy registration.<br>
                            <input type="submit" class="register_btn" value="Register now!" style="color:#fff"> 
                        </div><br>                       
                    </form>
                    <!--<form method="GET" name="frm" action="reset.php">
                         <<div class="register_block">
                            Forgot your password? Reset your password.<br>
                            <input type="submit" class="reset_btn" value="Reset now!">
                        </div>
                    </form>-->

                </div>
            </div>
        </div>
    
            </div>

        

                    </div>
                


                <!-- Start of the footer -->
                

                <div class="sixteen columns alpha">
                    
                </div>

            </div>
        </body>
        
    </html>


