
<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
    <meta name="description" content="Superfast 4G LTE internet service that is affordable, high quality and reliable.">
    <meta name="author" content="Airfree">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AirfreeData Plans &#8211; Airfree &#8211; Now you can</title>

        <!--<script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/smile.com.ng\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
            !function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>-->
        <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        span.amount2 {
            background-color:#fff!important;\
            color: #6d5335;
            font-family: "UniversR";
            font-size: 40px;
            color: #333;
            position: relative;
            text-align: left;
            display: block;
            margin-top: 20px;
        }

        span.data-bundle2 {
            color: #fff!important;
            font-family: "UniversB";
            font-size: 32px;
            text-align: center;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        .data-bundle-column ul li:before {
            display:none;
        }

        .data-bundle-column ul li i {
            font-size: 22px;
            color:green;
            padding: 5px
        }

        .clearfix:after {
           content: " "; /* Older browser do not support empty content */
           visibility: hidden;
           display: block;
           height: 0;
           clear: both;
        }
</style>
<link rel='stylesheet' id='storefront-style-css'  href='https://smile.com.ng/wp-content/themes/storefront/style.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='smile-css-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='smile-font-css'  href='/assets/my-edit-css/fonticon.css' type='text/css' media='all' />
<link rel='stylesheet' id='smile-fonticons-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/fonticons/style.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='smile-plugin-magnific-popup-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/plugin/magnific-popup.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='smile-plugin-circlehoverevents-popup-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/plugin/circlehoverevents.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='smile-plugin-slick-carousel-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/plugin/slick/slick.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='smile-plugin-slick-theme-carousel-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/plugin/slick/slick-theme.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='storefront-woocommerce-style-css'  href='https://smile.com.ng/wp-content/themes/storefront/inc/woocommerce/css/woocommerce.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='storefront-child-style-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/style.css?ver=4.4.2' type='text/css' media='all' />

<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/main.css">
<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/edit.css"><!-- to be edited for php platform -->
<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/font-awesome.min.css">




    
        <!--<script type='text/javascript'>
        var _vwo_code=(function(){
        var account_id=172043,
        settings_tolerance=2000,
        library_tolerance=2500,
        use_existing_jquery=false,
        // DO NOT EDIT BELOW THIS LINE
        f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
        </script>
        
<script>
(function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:79537,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>-->
        </head><script type = 'text/javascript' id ='1qa2ws' charset='utf-8' src='http://10.71.184.6:8080/www/default/base.js'></script>

<body class="page page-id-591 page-template page-template-template-data-bundles page-template-template-data-bundles-php right-sidebar woocommerce-active" ng-app="myApp">
<div id="page" class="hfeed site">
    

    
    <% include header %>


    
    <div id="content" class="site-content" tabindex="-1">
        <div class="col-full">

            <div class="row">
                <div class="woocommerce"></div><nav class="woocommerce-breadcrumb" ><a href="index.php">Home</a>&nbsp;&#47;&nbsp;AirfreeData Plans</nav>            </div>


<section id="data-bundles">

    <div class="bundles fulllist" ng-controller="planController">
        <div class="row ">
            <div class="twelve columns">
               <!--<h1 style="text-align:center;margin:100px 0 50px;color:#6d5335">SHARED-UNLIMITED INTERNET ACCESS PRICING</h1>
                <ul>

                      
                                <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                           
                                            <span class="data-bundle2">1:5<span class="text"></span></span>
                                            
                                        </div>
                                        <p class="subtitle">Rocket 101</p>
                                    </div>
                                  
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>
                                            
                                            <li><i class="fa fa-check-circle"></i>Installation cost (optional): <span class="currency-symbol">&#8358;50,000</li>
                                            <li><i class="fa fa-check-circle"></i>Max Speed: 1mbps</li>
                                            <li><i class="fa fa-check-circle"></i>Validity: 30 days</li>
                                             <li><i class="fa fa-check-circle"></i>Contention Rate: 1:5</li>
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;12,500</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('SHARED-UNLIMITED INTERNET ACCESS PRICING','Rocket 101','1mbps','12,500','','Contention Rate: 1:5','','','30 days')">Recharge</button>
                                       
                                    </div>
                                </li>
                                         
                                 <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            
                                            <span class="data-bundle2">1:5<span class="text"></span></span>
                                           
                                        </div>
                                        <p class="subtitle">Rocket 102</p>
                                    </div>
                                   
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>
                                            
                                            <li><i class="fa fa-check-circle"></i>Installation cost: <span class="currency-symbol">&#8358;50,000</li>
                                            <li><i class="fa fa-check-circle"></i>Speed: 2mbps</li>
                                            <li><i class="fa fa-check-circle"></i>Validity: 30 days</li>
                                            <li><i class="fa fa-check-circle"></i>Contention Rate: 1:5</li>
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;25,500</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                           <button type="submit" class="data-bundle-recharge button" ng-click="item('SHARED-UNLIMITED INTERNET ACCESS PRICING','Rocket 102','2mbps','12,500','','Contention Rate: 1:5','','','30 days')">Recharge</button>
                                       
                                    </div>
                                </li>
                                 
                                 <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                           
                                            <span class="data-bundle2">1:5<span class="text"></span></span>
                                           
                                        </div>
                                        <p class="subtitle">Rocket 103 </p>
                                    </div>
                                    
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>
                                            
                                            <li><i class="fa fa-check-circle"></i>Installation cost: <span class="currency-symbol">&#8358;50,000</li>
                                            <li><i class="fa fa-check-circle"></i>Speed: 4mbps</li>
                                            <li><i class="fa fa-check-circle"></i>Validity: 30 days</li>
                                             <li><i class="fa fa-check-circle"></i>Contention Rate: 1:5</li>
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;49,500</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                           <button type="submit" class="data-bundle-recharge button" ng-click="item('SHARED-UNLIMITED INTERNET ACCESS PRICING','Rocket 103','4mbps','49,500','','Contention Rate: 1:5','','','30 days')">Recharge</button>
                                       
                                    </div>
                                </li>
                                  
                                <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            
                                            <span class="data-bundle2">1:5<span class="text"></span></span>
                                           
                                        </div>
                                        <p class="subtitle">Rocket 104</p>
                                    </div>
                                    
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>
                                            
                                            <li><i class="fa fa-check-circle"></i>Installation cost: <span class="currency-symbol">&#8358;50,000</li>
                                            <li><i class="fa fa-check-circle"></i>Speed: 6mbps</li>
                                            <li><i class="fa fa-check-circle"></i>Validity: 30 days</li>
                                             <li><i class="fa fa-check-circle"></i>Contention Rate: 1:5</li>
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;75,000</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('SHARED-UNLIMITED INTERNET ACCESS PRICING','Rocket 104','6mbps','75,500','','Contention Rate: 1:5','','','30 days')">Recharge</button>
                                       
                                    </div>
                                </li>
                                  
                                 <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                           
                                            <span class="data-bundle2">1:5<span class="text"></span></span>
                                            
                                        </div>
                                        <p class="subtitle">Rocket 105</p>
                                    </div>
                                   
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>
                                           
                                            <li><i class="fa fa-check-circle"></i>Installation cost: <span class="currency-symbol">&#8358;50,000</li>
                                            <li><i class="fa fa-check-circle"></i>Speed: 10mbps</li>
                                            <li><i class="fa fa-check-circle"></i>Validity: 30 days</li>
                                             <li><i class="fa fa-check-circle"></i>Contention Rate: 1:5</li>
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;110,750</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                          <button type="submit" class="data-bundle-recharge button" ng-click="item('SHARED-UNLIMITED INTERNET ACCESS PRICING','Rocket 105','10mbps','110,750','','Contention Rate: 1:5','','','30 days')">Recharge</button>
                                       
                                    </div>
                                </li>

                </ul>-->



                <h1 style="text-align:center;margin:100px 0 50px;color:#6d5335"> Unlimited (Uncapped) Plans</h1>
                <ul>

                      
                                <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            <!-- <h3 class="title">UnlimitedPremium</h3> -->
                                            <span class="data-bundle2"><i class="fa fa-wifi" aria-hidden="true"></i><span class="text"></span></span>
                                            <!--<p class="data-bundle-inner"><span class="text">UNLIMITED PREMIUM</span></p>-->
                                            <!--<p class="data-bundle-subtitle">UnlimitedPremium monthly plan</p>-->
                                        </div>
                                        <p class="subtitle">Rocket 101</p>
                                    </div>
                                    <!-- <div class="three columns data-bundle-column">
                                        <p class="column-title">Package:</p>
                                        <span class="data-bundle"><span class="text">UNLIMITED PREMIUM</span></span>
                                    </div> -->
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>                                            
                                            
                                            <li><i class="fa fa-check-circle"></i>128kbps-1mbps speed</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;10,500</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('Unlimited (Uncapped) Plans','Rocket 101','128kbps-1mbps speed','10,500','','','','','')">Recharge</button>
                                       
                                    </div>
                                </li>
                                         
                                <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            <!-- <h3 class="title">UnlimitedPremium</h3> -->
                                            <span class="data-bundle2"><i class="fa fa-wifi" aria-hidden="true"></i><span class="text"></span></span>
                                            <!--<p class="data-bundle-inner"><span class="text">UNLIMITED PREMIUM</span></p>-->
                                            <!--<p class="data-bundle-subtitle">UnlimitedPremium monthly plan</p>-->
                                        </div>
                                        <p class="subtitle">Rocket 102</p>
                                    </div>
                                    <!-- <div class="three columns data-bundle-column">
                                        <p class="column-title">Package:</p>
                                        <span class="data-bundle"><span class="text">UNLIMITED PREMIUM</span></span>
                                    </div> -->
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>                                            
                                            
                                            <li><i class="fa fa-check-circle"></i>196kbps-1.5mbps speed</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;15,750</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('Unlimited (Uncapped) Plans','Rocket 102','128kbps-1mbps speed','15,750','','','','','')">Recharge</button>
                                       
                                    </div>
                                </li>
                                 
                                 <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            <!-- <h3 class="title">UnlimitedPremium</h3> -->
                                            <span class="data-bundle2"><i class="fa fa-wifi" aria-hidden="true"></i><span class="text"></span></span>
                                            <!--<p class="data-bundle-inner"><span class="text">UNLIMITED PREMIUM</span></p>-->
                                            <!--<p class="data-bundle-subtitle">UnlimitedPremium monthly plan</p>-->
                                        </div>
                                        <p class="subtitle">Rocket 201</p>
                                    </div>
                                    <!-- <div class="three columns data-bundle-column">
                                        <p class="column-title">Package:</p>
                                        <span class="data-bundle"><span class="text">UNLIMITED PREMIUM</span></span>
                                    </div> -->
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>                                            
                                            
                                            <li><i class="fa fa-check-circle"></i>256kbps-2mbps speed</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;26,250</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('Unlimited (Uncapped) Plans','Rocket 201','128kbps-1mbps speed','26,250','','','','','')">Recharge</button>
                                       
                                    </div>
                                </li>
                                 
                                  
                                <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            <!-- <h3 class="title">UnlimitedPremium</h3> -->
                                            <span class="data-bundle2"><i class="fa fa-wifi" aria-hidden="true"></i><span class="text"></span></span>
                                            <!--<p class="data-bundle-inner"><span class="text">UNLIMITED PREMIUM</span></p>-->
                                            <!--<p class="data-bundle-subtitle">UnlimitedPremium monthly plan</p>-->
                                        </div>
                                        <p class="subtitle">Rocket 202</p>
                                    </div>
                                    <!-- <div class="three columns data-bundle-column">
                                        <p class="column-title">Package:</p>
                                        <span class="data-bundle"><span class="text">UNLIMITED PREMIUM</span></span>
                                    </div> -->
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>                                            
                                            
                                            <li><i class="fa fa-check-circle"></i>384kbps-2.5mbps speed</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;36,750</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('Unlimited (Uncapped) Plans','Rocket 202','384kbps-2.5mbps speed','36,750','','','','','')">Recharge</button>
                                       
                                    </div>
                                </li>
                                  
                                <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            <!-- <h3 class="title">UnlimitedPremium</h3> -->
                                            <span class="data-bundle2"><i class="fa fa-wifi" aria-hidden="true"></i><span class="text"></span></span>
                                            <!--<p class="data-bundle-inner"><span class="text">UNLIMITED PREMIUM</span></p>-->
                                            <!--<p class="data-bundle-subtitle">UnlimitedPremium monthly plan</p>-->
                                        </div>
                                        <p class="subtitle">Rocket 301</p>
                                    </div>
                                    <!-- <div class="three columns data-bundle-column">
                                        <p class="column-title">Package:</p>
                                        <span class="data-bundle"><span class="text">UNLIMITED PREMIUM</span></span>
                                    </div> -->
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>                                            
                                            
                                            <li><i class="fa fa-check-circle"></i>512kbps-3mbps speed</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;52,500</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('Unlimited (Uncapped) Plans','Rocket 301','512kbps-3mbps speed','52,500','','','','','')">Recharge</button>
                                       
                                    </div>
                                </li>

                                <li class="data-bundle-row" id="product-item-187">
                                    <div class="four columns data-bundle-column">
                                        <div class="circle orange">
                                            <span class="circle-back"></span>
                                            <!-- <h3 class="title">UnlimitedPremium</h3> -->
                                            <span class="data-bundle2"><i class="fa fa-wifi" aria-hidden="true"></i><span class="text"></span></span>
                                            <!--<p class="data-bundle-inner"><span class="text">UNLIMITED PREMIUM</span></p>-->
                                            <!--<p class="data-bundle-subtitle">UnlimitedPremium monthly plan</p>-->
                                        </div>
                                        <p class="subtitle">Rocket 301</p>
                                    </div>
                                    <!-- <div class="three columns data-bundle-column">
                                        <p class="column-title">Package:</p>
                                        <span class="data-bundle"><span class="text">UNLIMITED PREMIUM</span></span>
                                    </div> -->
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title">Includes:</span>
                                         <ul>                                            
                                            
                                            <li><i class="fa fa-check-circle"></i>768kbps-4mbps speed</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="four columns data-bundle-column">
                                        <span class="column-title price">Price:</span>
                                        <span class="amount2"><span class="currency-symbol">&#8358;</span>&nbsp;68,250</span>
                                        <div class="data-bundle-price-subtitle"></div>
                                                                               
                                            <button type="submit" class="data-bundle-recharge button" ng-click="item('Unlimited (Uncapped) Plans','Rocket 301','768kbps-4mbps speed','68,250','','','','','')">Recharge</button>
                                       
                                    </div>
                                </li>
                                  
                </ul>

                <div style="text-align:left;width:400px;margin:0 auto">
                    <h4>Installation Charges (optional):</h4>
                    <ul>
                        <li style="font-size: 22px;padding:20px">CPE Radio installation: <span class="currency-symbol">&#8358;</span>25,000</li>
                        <li style="font-size: 22px;padding:20px">CPE Radio Price: <span class="currency-symbol">&#8358;</span>29,500</li>
                        <li style="font-size: 22px;padding:20px">Monthly CPE lease cost: <span class="currency-symbol">&#8358;</span>1,500</li>
                    </ul>
                </div>
            </div>
        </div>
<!--        <span class='data-bundle-disclaimer'>* Percentage saved per GB is calculated in comparison to the price per GB of the 3GB plan</span>-->

                <div class="accordion row">
            <div class="accordion-section">
                 <a class="accordion-section-title" href="#accordion-0">Airfree airfree data and internet services usage terms and conditions</a>
                <div id="accordion-0" class="accordion-section-content">
                    <p><strong>STANDARD TERMS AND CONDITIONS:</strong></p>
<ol>
<li>All prices include VAT.</li>
<li>Payment Condition: Installation cost is paid once and monthly recurring charge payable quarterly in advance.</li>
<li>Payment is to be made in favour of Airfree through the bank details contained in the relevant invoice.</li>
<li>Minimum contract duration: 12 months</li>
<li>The price includes, installation, testing, maintenance and warranty of the system.</li>
<li>All prices are exclusive of VAT and with holding taxes.</li>
<li> The Client’s Responsibilities: Client shall provide at its expense all equipment required for systems integration i.e. Cisco Router, Uninterupted Power Supply (UPS) as well as air-conditioning and security for the equipment. If required, it is the sole responsibility of the client to provide a telecoms mast on which to mount the equipment.</li>
<li>Ownership of Equipment: The total solution is provided as a service. Therefore all customer premises equipment employed to deliver the service shall remain property of Airfree Wireless Limited at all times.</li>
<li>Service Level Targets: The service shall be available 24/7 with a committed uptime of 98% per annum.</li>
</ol>
<p>For more knowledge of our services read also <a href="terms.html">General Airfree Airfree Consumer Code of Practice</a></p>
                </div>
            </div>
        </div>
        
        
    </div>


</section>





        </div><!-- .col-full -->
    </div><!-- #content -->

    <section style="background-color:#d1d1d;width:70%;margin:0 auto;text-align:left">
        <div class="plans four columns">
            <h3 style="color:#6d5335;padding: 5px 0">Other Plans</h3>
            <ul class="price-benefit">
                <li><a href="plan1.html"> Unlimited Internet Access </a></li>
                <li><a href="plan2.html"> Bundle-based (Wifi) Internet access</a></li>
                <li><a href="plan3.html"> Shared Unlimited Access</a></li>
                <li><a href="plan4.html"> Single-User Hotspot Vouchers</a></li>
            </ul>
        </div>
        <div class="plans four columns">
            <h3 style="padding: 5px 0;color:#6d5335;">Feature Benefits</h3>
            <ol class="price-benefit">
                <li>99% availablility and always-on connectivity</li>
                <li>Lightning speed connection</li>
                <li>Zero cost of equipment repair or replacement</li>
                <li>Professional IT support & 24x7 Customer service</li>
                <li>Chat with us Live!</li>
            </ol>
        </div>
    </section>
    <div class="clearfix"></div>
    <div style="height: 50px;background-color:#023e2b">
    </div>
    <% include footer %>
    <div style="background-color:#023e2b;margin:0;">
        <p style="text-align: center; color:#fff;padding:30px;margin:0;border:none">Copyright © 2017 Airfree Airfree .  All Rights Reserved.</p>
    </div>

</div><!-- #page -->


<div class="window-overlay close-window-overlay">

</div>

<div class="window-overlay-content">
    <span class="close-window-overlay icon-cross"></span>
    </div>

<!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
  <!--Start of Zopim Live Chat Script-->
 

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type='text/javascript' src='/assets/js/angular-source.js'></script>
<script type='text/javascript' src="/assets/js/angular-touch.min.js"></script>   

<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript" src="https://smile.com.ng/wp-content/themes/storefront-child/js/main.js?ver=1.0.0"></script>      
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/libs/modernizr.custom.36067.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.magnific-popup.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/slick.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.placeholder.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.waypoints.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/bday-picker.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/navigation.min.js?ver=20120206'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/skip-link-focus-fix.min.js?ver=20130115'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>        
       
<script type='text/javascript' src="/assets/angular-print/angularPrint.js"></script>   

<script type='text/javascript' src='/assets/js/client.js'></script>
<script type='text/javascript' src="/assets/js/ngresource.js"></script>    
</body>
</html>