
<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
    <meta name="author" content="Smile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Airfree &#8211; Super-Fast</title>


<link rel='stylesheet' id='smile-css-css'  href='/assets/my-edit-css/main.css' type='text/css' media='all' />

<link rel='stylesheet' id='smile-font-css'  href='/assets/my-edit-css/font-awesome.min.css' type='text/css' media='all' />

<link rel='stylesheet' id='smile-plugin-slick-carousel-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/plugin/slick/slick.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='smile-plugin-slick-theme-carousel-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/css/plugin/slick/slick-theme.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='storefront-woocommerce-style-css'  href='https://smile.com.ng/wp-content/themes/storefront/inc/woocommerce/css/woocommerce.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='storefront-child-style-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/style.css?ver=4.4.2' type='text/css' media='all' />

<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/edit.css"><!-- to be edited for php platform -->




<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="white" />




        
</head><script type = 'text/javascript' id ='1qa2ws' charset='utf-8' src='http://10.71.184.6:8080/www/default/base.js'></script>

<body class="home blog right-sidebar woocommerce-active">
<div id="page" class="hfeed site">
    

    
   <% include header %>


    
    <div id="content" class="site-content" tabindex="-1">
        <div class="col-full">

            <div class="row">
                <div class="woocommerce"></div><nav class="woocommerce-breadcrumb" ><a href="index.php">Home</a>&nbsp;</nav>
            </div>

<section id="business">
    <div class="row">
        <div class="twelve columns section-title section-text-center" style="margin-top: 60px;">
            <h1 style="color: #6d5335">Our Awesome Services!</h1>
        </div>
    </div>

    <div class="row">
        <div class="six columns">
            <img src="/assets/images/group-solving.png" style="width: 600px; height: 450px" class="attachment-full size-full wp-post-image"/> 
            <div style="margin: 80px 0;text-align:center">
                <a href="/data/plan2" style="padding:20px 25px;border-radius:5px;background-color:orange;color:#fff;">BUY PLAN NOW</a>
            </div>       
        </div>

        <div class="six columns details">
            <p>Competitive businesses need fast and reliable data connectivity. Internet connection must connect on the first attempt and not drop at crucial moments.</p>
<p>That’s why Airfree offers a range of business services/solutions that are designed to make your business more competitive. Whether you’re a Small Office Home Office (SOHO), an SME, or a large corporate business. We give you super fast mobile broadband access and internet access that you can rely on regardless of location.</p>



<p>We are the the leading WiFi service provider. Our services include: <strong>Hospitality WiFi
solutions, Campus WiFi solutions, Healthcare WiFi solutions,
Enterprise WiFi solutions </strong> and much more.</p>
<p>Following are the primary service attributes of our solution:</p>
<p>- Unlimited Internet downloads & uploads</p>
<p>- Amazing Internet browsing speeds</p>


<p>Airfree FiberAir Broadband Internet is the fastest data communication network in Nigeria with data speeds of up to 21Mbps. And our pricing structure will also give your business a competitive edge with access to mobile voice and data services at predictable and affordable rates.</p>
<p> We have expanded <a href="/coverage">our network </a>to more states including Enugu, Lagos, Abuja, Onitsha and Asaba.</p>
        </div>
    </div>

</section>

<section class="info">
    <img src="/assets/images/info-bg.png">
    <img src="/assets/images/info-cover.png" class="shade">
    <div class="get-intouch">
       
        <section id="business-how-can-we-help-you">
            <div class="row">
                <div class="twelve columns section-title section-text-center">
                    <h1>How can we help you?</h1>
                </div>
            </div>

            <ul class="business-links block-list wide row">
                <li class="container four columns">
                    <a href="#">
                        <div class="inner">
                            <h3>Chat with us</h3>
                            <p>Please chat with one of our business experts</p>
                        </div>
                    </a>
                </li>
                <li class="container four columns">
                    <a href="help.html">
                        <div class="inner">
                            <h3>How can we help you?</h3>
                            <p>Please click here to leave your details and we will be in contact within the hour</p>
                        </div>
                    </a>
                </li>
                <li class="container four columns">
                    <a href="plan2.html" class="trigger">
                        <div class="inner">
                            <h3>See all plans</h3>
                            <p>View fill list of data</p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</section><br>

<section class="vpn-services">
    <h1>Airfree VPN Services</h1>
    <ul>
        <li>- Replace Your Original IP With An anonymous One</li>
        <li>- Encrypts Your Data </li>
        <li>- Avoid Censorship and geo-restrictions </li>
        <li>- Access Blocked Websites and Apps from Anywhere, Anytime</li>
        <li>- Protect & secure your WiFi connection</li>
        <li>- Unrestricted Access for Experts and Travelers</li>
    </ul>
    <p>For enquiries please call (+234) 8063388846 or (+234) 8139123492 </p>
</section>





        </div><!-- .col-full -->
    </div><!-- #content -->
    <div style="height: 50px;background-color:#023e2b">
    </div>
   <% include footer %>
    <div style="background-color:#023e2b;margin:0;">
        <p style="text-align: center; color:#fff;padding:30px;margin:0;border:none">Copyright © 2017 Airfree.  All Rights Reserved.</p>
    </div>

</div><!-- #page -->


<div class="window-overlay close-window-overlay">

</div>

<div class="window-overlay-content">
    <span class="close-window-overlay icon-cross"></span>
    </div>

<!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
  <!--Start of Zopim Live Chat Script-->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  


<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/main.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/libs/modernizr.custom.36067.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.magnific-popup.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/slick.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.placeholder.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.waypoints.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/bday-picker.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/navigation.min.js?ver=20120206'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/skip-link-focus-fix.min.js?ver=20130115'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>


       
</body>
</html>