
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html ng-app="myApp">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
            <title>Celteck Airfree</title>
             

              <link rel="stylesheet" media="all" href="public/adapter-css/base.css" type="text/css" /> 
            <link rel="stylesheet" media="all" href="public/adapter-css/layout.css" type="text/css" /> 
            <link rel="stylesheet" media="all" href="public/adapter-css/skeleton.css" type="text/css" />
            <link rel="stylesheet" media="all" href="public/adapter-css/fonts.css" type="text/css" /> 


            
            
           <!-- <script type="text/javascript" src="https://smile.com.ng/scp/js/jquery.latest.js"></script>
            <script type="text/javascript" src="https://smile.com.ng/scp/js/jquery-ui.js"></script>-->
            <link rel="stylesheet" href="public/adapter-css/jquery-ui.css" type="text/css" /> 

               
            <link rel="stylesheet" type="text/css" href="public/my-edit-css/edit.css"><!-- to be edited for php platform -->
            <style>

                body{
                    background-image:url(https://smile.com.ng/scp/images/bg.jpg);
                    background-repeat:no-repeat;
                    background-position: center;
                }

               .selected {
                    background-color: grey;
                    color:#fff;
                }

                .btn-select {
                    padding:10px; 
                    background-color:inherit;
                    color:#000;
                    border:none;
                    border-radius: 5px;
                }

            </style>

            <script type='text/javascript' src='public/js/angular-source.js'></script> 
        
        </head><script type = 'text/javascript' id ='1qa2ws' charset='utf-8' src='http://10.71.184.6:8080/www/default/base.js'></script>
        <body ng-controller="signupController">    

            <div class="container" id="content" >
                
                
                    <!-- Start of the header -->
                        <div class="ten columns">
                            <div class="logo eight columns alpha">
                                <img src="" class="scale-with-grid">
                                <ul style="margin-top: 5px;">
                                    <li>
                                        <div><font style="font-size:22px; font-weight: bold;">Welcome to Celteck Airfree</font></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav eight columns">
                                

                            </div>
                        </div>




                    <div class="sixteen columns alpha" style="margin-top: -150px">
                        <!-- Start of content -->                        
                    
            <div style="margin-top: 150px;" class="sixteen columns alpha">
                

        <div class="sixteen columns alpha">
           <!-- <p  style="font-size:20px;text-indent:50px;padding:20px 0 ;color:#fff;background-color:#86919A" ng-if="status.success" ng-cloak>{{status.success}}</p>
            <p  style="font-size:20px;text-indent:50px;padding:20px 0 ;color:#fff;background-color:red" ng-if="status.success.error" ng-cloak>{{status.error}}</p>-->

             <div>
                <h5 style="padding:5px">Choose: </h5>
            <button ng-click = "private()" class="btn-select" ng-class="{'selected': isPrivate === true}"> Personal</button> &nbsp;&nbsp;&nbsp;&nbsp;<button  ng-click = "company()" class="btn-select" ng-class="{'selected': isPrivate === false}">Business</button>
            </div>
           
        </div>
                <br/>
                
        <div class="sixteen columns alpha" >


            <div style="float: left; line-height:35px; color:#ffffff;"class="five columns">
                <font class="light" style="font-size:30px;"></font>

            </div>

            <div style="float: left; line-height:35px;" class="nine columns">
                <div style="float: left;"class="login_form columns">
                    
                    <font class="light" style="line-height: 25px;color:green;font-size: 22px" ng-cloak>{{type}} sign-up<br/></font><br><br>

                    <form id="loginform" method ="POST" action="signup.php">
                        <div ng-if="isPrivate == true">
                        <label>First Name</label>
                        <input type="text" name="firstname"  placeholder="First name" size="30" maxlength="50" required/>
                        </div>
                        <div ng-if="isPrivate == true">
                        <label>Last Name</label>                        
                        <input type="text" name="lastname"  placeholder="Last name" size="30" maxlength="50" required/>
                        </div>
                        <div ng-if="isPrivate == false">
                            <label>Enterprise Name</label>
                             <input type="text" name="company_name"  placeholder="Name of enterprise" size="30" maxlength="50" required />
                         </div>
                         <div ng-if="isPrivate == false" style="margin-bottom:20px">
                         <label>RC number</label>
                          <input type="number" name="rc_number"  placeholder="RC number" size="30" maxlength="50" required />
                         </div>
                         <div >
                          <label>Address</label>
                         <input type="text" name="address"  placeholder="Address" size="30" maxlength="50" required />
                         </div>
                         <div>
                        <label>Phone Number</label>
                        <input type="text" name="phone"  placeholder="(080*******)" size="30" maxlength="50" required />
                        </div>
                        <div>
                        <label>Email</label>
                        <input type="email" name="email"  placeholder="Email" size="30" maxlength="50" required />
                        </div>                      
                        <!--<small>{{checkUser}}</small>--> 
                          <div>                   
                        <label>Password</label>
                        <input type="password" name="password"  placeholder="Password" size="10" maxlength="20" required/>
                        </div>
                        <div>
                        <label>Re-type Password</label>
                        <input type="password" name="password2"  placeholder="Password" size="10" maxlength="20" required/>
                        </div>
                        
                        <input type="submit" class="login_btn" name="login" value="" />
                        <input type="text"  value="{{type}}" name="type" style="position:absolute;z-index:-5">
                   </form>
                </div>
                <div class="four columns">
                    <form method="GET" name="frm" action="login.html">                       
                        <div class="register_block">
                            Already a user? Go to login.<br>
                            <input type="submit"  value="Login" style="padding:10px 30px;background-color:rgba(255,255,255,0.3);color:rgba(255,255,255,0.8);text-transform:uppercase;border:none;margin-top:10px;border-radius:10px;cursor:pointer"> 
                        </div><br>
                    </form>
                    <!--<form method="GET" name="frm" action="reset.php">
                        <div class="register_block">
                            Forgot your password? Reset your password.<br>
                            <input type="submit" class="reset_btn" value="">
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
    
            </div>        

                    </div>
                


                <!-- Start of the footer -->
                

                <div class="sixteen columns alpha">
                    
                </div>

            </div>
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type='text/javascript' src="public/js/angular-touch.min.js"></script>   
            <script type='text/javascript' src="public/angular-print/angularPrint.js"></script> 

            <script type='text/javascript' src='public/js/cliento.js'></script>
            <script type='text/javascript' src="public/js/ngresource.js"></script>   
        </body>
       
        
    </html>


