<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
    <meta name="author" content="Smile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Airfree &#8211; Now you can</title>

<link rel='stylesheet' id='smile-cities-css'  href='https://smile.com.ng/wp-content/plugins/smile-cities/admin/css/cities.css?ver=4.4.2' type='text/css' media='all' />



<link rel='stylesheet' id='storefront-woocommerce-style-css'  href='https://smile.com.ng/wp-content/themes/storefront/inc/woocommerce/css/woocommerce.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='storefront-child-style-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/style.css?ver=4.4.2' type='text/css' media='all' />

<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/edit.css"><!-- to be edited for php platform -->
<link rel='stylesheet' id='smile-css-css'  href='/assets/my-edit-css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='smile-font-css'  href='/assets/my-edit-css/font-awesome.min.css' type='text/css' media='all' />

</head>



<body class="home blog right-sidebar woocommerce-active">
<div id="page" class="hfeed site">
    

    
<% include header %>
    
    <div id="content" class="site-content" tabindex="-1">
        <div class="col-full">

            <div class="row">
                <div class="woocommerce"></div><nav class="woocommerce-breadcrumb" ><a href="index.php">Home</a>&nbsp;&#47;&nbsp;SuperExtended coverage</nav>            </div>


<section id="coverage" class="fill-screen">

    <div class="page-container row center-object">

        <div class="twelve columns section-title section-text-center">
            <h1>Cities we&#8217;ve got covered!</h1>
                    </div>

        <div data-overlay-identifier="coverage-map" class="page-image-container open-window-overlay window-overlay-fill-screen six columns">
                                <div data-overlay-identifier="coverage-map" data-pan-title="Benin City" data-slug="benin-city"
                         class="open-window-overlay window-overlay-fill-screen city benin-city">
                        <div class="city-title">Benin City</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>
                                    <div data-overlay-identifier="coverage-map" data-pan-title="Port Harcourt" data-slug="port-harcourt"
                         class="open-window-overlay window-overlay-fill-screen city port-harcourt">
                        <div class="city-title">Port Harcourt</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>
                                    <div data-overlay-identifier="coverage-map" data-pan-title="Kaduna" data-slug="kaduna"
                         class="open-window-overlay window-overlay-fill-screen city kaduna">
                        <div class="city-title">Kaduna</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>
                                    <div data-overlay-identifier="coverage-map" data-pan-title="Onitsha" data-slug="onitsha-asaba"
                         class="open-window-overlay window-overlay-fill-screen city onitsha-asaba">
                        <div class="city-title">Onitsha & Asaba</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>
                                    <div data-overlay-identifier="coverage-map" data-pan-title="Abuja" data-slug="abuja"
                         class="open-window-overlay window-overlay-fill-screen city abuja">
                        <div class="city-title">Abuja</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>
                                    <div data-overlay-identifier="coverage-map" data-pan-title="Ibadan" data-slug="ibadan"
                         class="open-window-overlay window-overlay-fill-screen city ibadan">
                        <div class="city-title">Ibadan</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>
                                    <div data-overlay-identifier="coverage-map" data-pan-title="Lagos" data-slug="lagos"
                         class="open-window-overlay window-overlay-fill-screen city lagos">
                        <div class="city-title">Lagos</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>
                                    <!--<div data-overlay-identifier="coverage-map" data-pan-title="cross-river" data-slug="cross-river"
                         class="open-window-overlay window-overlay-fill-screen city cross-river">
                        <div class="city-title">Cross River</div>
                        <img class="city-dot" src="https://smile.com.ng/wp-content/themes/storefront-child/images/map/city-dot.png"/>
                    </div>-->

                    
                            <img width="402" height="328" src="https://smile.com.ng/wp-content/uploads/2015/11/kaart-nigeria-2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="kaart-nigeria-2" srcset="https://smile.com.ng/wp-content/uploads/2015/11/kaart-nigeria-2-300x245.png 300w, https://smile.com.ng/wp-content/uploads/2015/11/kaart-nigeria-2.png 402w" sizes="(max-width: 402px) 100vw, 402px" />        </div>
        <div class="page-content-container six columns">
            <p>Our superfast network expands to major cities in Nigeria - Lagos, Port Harcourt, Ibadan, Abuja, Benin City, Kaduna, Onitsha and  Asaba, Calabar, Uyo, Enugu, Abakaliki, Owerri, Aba, Benin, Awka and more. Our awsome services will never disappoint you!</p>
            <a data-overlay-identifier="coverage-map" class="button open-window-overlay window-overlay-fill-screen">Check our coverage</a>
        </div>

    </div>
</section>

        </div><!-- .col-full -->
    </div><!-- #content -->

    <div class="row">
         <section style="width:90%;margin:0 auto;text-align:left" class=" twelve columns">
            <div class="plans six columns">
                <h3 style="color:#6d5335;padding: 5px 0">Other Plans</h3>
                <ul class="price-benefit">
                    <li><a href="plan1.html"> Unlimited Internet Access </a></li>
                    <li><a href="plan2.html"> Bundle-based (Wifi) Internet access</a></li>
                    <li><a href="plan3.html"> Shared Unlimited Access</a></li>
                    <li><a href="plan4.html"> Single-User Hotspot Vouchers</a></li>
                </ul>
            </div>
            <div class="plans six columns">
                <h3 style="padding: 5px 0;color:#6d5335;">Feature Benefits</h3>
                <ol class="price-benefit">
                    <li>99% availablility and always-on connectivity</li>
                    <li>Lightning speed connection</li>
                    <li>Zero cost of equipment repair or replacement</li>
                    <li>Professional IT support & 24x7 Customer service</li>
                    <li>Chat with us Live!</li>
                </ol>
            </div>
        </section>
        <div class="clearfix"></div>
      
    </div>

   <% include footer %>
   <% include end %>

</div><!-- #page -->


<div class="window-overlay close-window-overlay">

</div>

<div class="window-overlay-content">
    <span class="close-window-overlay icon-cross"></span>
    </div>

<!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
  <!--Start of Zopim Live Chat Script-->
  


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 
<script type="text/javascript" src="https://smile.com.ng/wp-content/themes/storefront-child/js/main.js?ver=1.0.0"></script>      
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/libs/modernizr.custom.36067.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.magnific-popup.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/slick.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.placeholder.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.waypoints.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/bday-picker.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/navigation.min.js?ver=20120206'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/skip-link-focus-fix.min.js?ver=20130115'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>      
       


        
</body>
</html>