 <div style="background-color:#023e2b;margin:0;">
    <p style="text-align: center; color:#fff;padding:30px;margin:0;border:none">
    	Copyright ©  
    	<script>
            document.write(new Date().getFullYear())
        </script>, Airfree Technologies Limited.  All Rights Reserved.
    </p>
</div>