<header role="banner" class="no-margin">
                <section id="site-nav">
            <div class="row">
                <div class="twelve columns">
                    <h1>
                        <a class="trigger" data-trigger-category="Mainnav" title="airfree logo" href="/" rel="home">
                            <img src="/assets/images/airfree_logo.jpg" alt="Airfree logo" style="width: 70px;height: auto;">
                        </a>
                    </h1>

                    <!-- Site mainmenu -->
                    <nav class="main-nav" role="navigation">

                        <div class="shopping-basket">
                
          
                        </div>
        
                    <div class="menu-mainmenu-container"><ul id="menu-mainmenu" class="menu"><li id="menu-item-761" class="smile-home-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-761"><a title="Home"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Home');" href="/" onclick="ga('send', 'event', 'Mainnav', 'Click', 'Home');" style="border:none"><span class="icon-angle-right icon-right"></span>Home</a>

<!--<div class="sub-menu-background"></div>-->

<!--<div class="sub-menu">

<ul class="sub-menu-ul">
    <li id="menu-item-5727" class="smile-products-menu-item smile-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5727"><a href="/#products" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SuperDeals</a></li>
    <li id="menu-item-159213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159213"><a href="https://smile.com.ng/welcome-to-0702smile/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Welcome to 0702Smile</a></li>
    <li id="menu-item-5725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5725"><a href="https://smile.com.ng/data-bundles/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileData</a></li>
    <li id="menu-item-5723" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5723"><a href="https://smile.com.ng/voice/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileVoice</a></li>
    <li id="menu-item-336281" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-336281"><a href="https://smile.com.ng/devices-compatible-with-smiles-network/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Network compatible devices</a></li>
</ul>
</div>-->
</li>
<li id="menu-item-11147" class="smile-home-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11147">
    <a href="/services"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Services</a>
<!--<div class="sub-menu-background"></div>-->

<!--<div class="sub-menu">

<ul class="sub-menu-ul">
    <li id="menu-item-11149" class="smile-products-menu-item smile-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-11149"><a href="https://smile.com.ng/business/#business"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileBusiness</a></li>
    <li id="menu-item-11167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11167"><a href="https://smile.com.ng/business/smilevoice/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileVoice</a></li>
    <li id="menu-item-11151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11151"><a href="https://smile.com.ng/business/datasolutions/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>DataSolutions</a></li>
    <li id="menu-item-11153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11153"><a href="https://smile.com.ng/business/enquiry/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Enquiry</a></li>
</ul>
</div>-->

<li id="menu-item-11147" class="smile-home-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11147">
    <a href="/data/plan2" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Pricing</a>
<!--<div class="sub-menu-background2"></div>-->

    <!--<div class="sub-menu">
        <ul class="sub-menu-ul">
            <li id="menu-item-11149" class="smile-products-menu-item smile-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-11149"><a href="/data/plan1" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Unlimited Internet Access</a></li>
            <li id="menu-item-11167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11167"><a href="/data/plan2" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Bundle-based (Wifi) Internet access</a></li>
            <li id="menu-item-11151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11151"><a href="/data/plan3"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Shared Unlimited Access</a></li>
            <li id="menu-item-11153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11153"><a href="/data/plan4"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Single-User Hotspot Vouchers</a></li>            
        </ul>
    </div>-->
</li>
<!--<li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051"><a href="/coverage"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Coverage</a></li>-->
<li id="menu-item-565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-565"><a href="/help"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Help</a></li>
<!--<li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105"><a title="Login"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Login');" target="_blank"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Login');" href="/signup"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Login');"><span class="icon-angle-right icon-right"></span>Signup</a></li>-->
<li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105"><a title="Login"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Login');" target="_blank"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Login');" href="/login"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Login');"><span class="icon-angle-right icon-right"></span>Login</a></li>
<li id="menu-item-13989" class="xpress-recharge menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-13989" style="background-color:orange"><a href="/data/plan2" onclick="ga('send', 'event', 'Mainnav', 'Click', '');" ><span class="icon-angle-right icon-right"></span>Recharge</a>
<div class="sub-menu-background"></div>

<!--<div class="sub-menu">

<ul class="sub-menu-ul">
    <li id="menu-item-167977" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167977"><a href="https://smile.com.ng/recharge-with-ease/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Recharge with ease</a></li>
    <li id="menu-item-13991" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13991"><a href="https://smile.com.ng/data-bundles/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>XpressRecharge</a></li>
    <li id="menu-item-873" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-873"><a title="Recharge"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Recharge');" target="_blank"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Recharge');" href="https://smile.com.ng/scp/Login.action?showRecharge"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Recharge');"><span class="icon-angle-right icon-right"></span>Manage data / Recharge</a></li>
</ul>
</div>-->
</li>
</ul>                   

</nav>

                    <!-- Mobile menu -->
                    <button class="mobile-btn"><i class="fa fa-bars" style="color:grey"></i></button>
                    <nav class="mobile-nav">
                        <button class="close-menu"><i class="fa fa-times" aria-hidden="true" style="color:grey;font-size:18px"></i></button>
                        <ul id="menu-handheld-menu" class="menu">
        <li id="menu-item-66" class="smile-home-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-66"><a title="Home" href="/">Home</a>
<div class="sub-menu-background"></div>

<div class="sub-menu">

<!--<ul class="sub-menu-ul">
    <li id="menu-item-5733" class="smile-products-menu-item smile-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5733"><a href="https://smile.com.ng/#products"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SuperDeals</a></li>
    <li id="menu-item-159211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159211"><a href="https://smile.com.ng/welcome-to-0702smile/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Welcome to 0702Smile</a></li>
    <li id="menu-item-5731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5731"><a href="https://smile.com.ng/data-bundles/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileData</a></li>
    <li id="menu-item-5729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5729"><a href="https://smile.com.ng/voice/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileVoice</a></li>
    <li id="menu-item-336287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-336287"><a href="https://smile.com.ng/devices-compatible-with-smiles-network/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Network compatible devices</a></li>
</ul>-->
</div>
</li>
<li id="menu-item-11155" class="smile-home-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11155"><a href="/services">Services</a>
<div class="sub-menu-background"></div>

<div class="sub-menu">

<!--<ul class="sub-menu-ul">
    <li id="menu-item-11165" class="smile-products-menu-item smile-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-11165"><a href="https://smile.com.ng/business/#business"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileBusiness</a></li>
    <li id="menu-item-11159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11159"><a href="https://smile.com.ng/business/smilevoice/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>SmileVoice</a></li>
    <li id="menu-item-11161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11161"><a href="https://smile.com.ng/business/datasolutions/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>DataSolutions</a></li>
    <li id="menu-item-11157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11157"><a href="https://smile.com.ng/business/enquiry/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Enquiry</a></li>
</ul>-->
</div>
</li>

<li id="menu-item-11147" class="smile-home-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11147"><a href="/data/plan2" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class=""></span>Pricing</a>
<div class="sub-menu-background2"></div>

    <div class="sub-menu">
        <!--<ul class="sub-menu-ul">
            <li id="menu-item-11149" class="smile-products-menu-item smile-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-11149"><a href="/data/plan1" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Unlimited Internet Access</a></li>
            <li id="menu-item-11167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11167"><a href="/data/plan2" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Bundle-based (Wifi) Internet access</a></li>
            <li id="menu-item-11151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11151"><a href="/data/plan3" onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Shared Unlimited Access</a></li>
            <li id="menu-item-11153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11153"><a href="/data/plan4"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Single-User Hotspot Vouchers</a></li>
            
        </ul>-->
    </div>
</li>


<!--<li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051"><a href="coverage.html"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Coverage</a></li>-->
<!--<li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051"><a href="coverage.html">Coverage</a></li>-->
<li id="menu-item-565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-565"><a href="/help">Help</a></li>
<li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105"><a title="Login"  target="_blank" href="/login">Login</a></li>
<!--<li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105"><a title="Login" target="_blank" href="/signup" >Signup</a></li>-->
<li id="menu-item-13989" class="xpress-recharge menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-13989" style="background-color:orange"><a href="/data/plan2" >Recharge</a>
<div class="sub-menu-background"></div>

<div class="sub-menu">

<!--<ul class="sub-menu-ul">
    <li id="menu-item-167975" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167975"><a href="https://smile.com.ng/recharge-with-ease/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Recharge with ease</a></li>
    <li id="menu-item-13995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13995"><a href="https://smile.com.ng/data-bundles/"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>XpressRecharge</a></li>
    <li id="menu-item-879" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-879"><a target="_blank"onclick="ga('send', 'event', 'Mainnav', 'Click', '');" href="https://smile.com.ng/scp/Login.action?showRecharge"onclick="ga('send', 'event', 'Mainnav', 'Click', '');"><span class="icon-angle-right icon-right"></span>Manage data / Recharge</a></li>
</ul>-->
</div>
</li>
<!--<li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a title="Shopping Cart"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Shopping Cart');" href="https://smile.com.ng/cart/"onclick="ga('send', 'event', 'Mainnav', 'Click', 'Shopping Cart');"><span class="icon-angle-right icon-right"></span>Shopping Cart</a></li>-->
</ul>                   
</nav><!-- end mobile-nav -->

    
</section> <!-- end #site-nav -->
    
        <!--<div id="banner-area" style="background-color:#16a085;height:790px;position:relative">
           <div style="position:absolute;left:0;right:0;top:0;width:100%">
                <h1 class="Celteck-header">
                    Airfree
                </h1>
                <p>Enjoy the best value and most reliable internet,always on connectivity</p>

                <p>Breaking frontiers in wireless solutions</p>

                <p>
<a class="smoothscroll button trigger" title="Get it now" data-trigger-category="Homepage header" href="#products" style="border:2px solid #fff;background-color:inherit">Get it now</a>
                 </p>
            </div>
        </div>-->


      
            
                           <!--<div class="header-banner slide-1" data-desktop-image="/assets/images/capm1.jpg" data-tablet-image="/assets/images/capm1.jpg" data-smartphone-image="/assets/images/capm1.jpg">
                                <div class="hero">
                                    <h2 class="responsive-headline">
                                        20GB +  50% BONUS data
                                    </h2>
                                    <p>Enjoy the best value and most reliable internet</p>
                        <a class="smoothscroll button trigger" title="Get it now" data-trigger-category="Homepage header" href="#products">Get it now</a>
                                </div>
                            </div>
                        
                            <div class="header-banner slide-2" data-desktop-image="/assets/images/camp6.jpeg" data-tablet-image="/assets/images/camp6.jpeg" data-smartphone-image="/assets/images/camp6.jpeg">
                                <div class="hero">
                                    <h2 class="responsive-headline">
                                        Experience Unlimited internet
                                    </h2>
                                    <p>Get Unlimited internet + Router for N34,800 for home or office use</p>
                        <a class="button trigger" title="Buy now!" data-trigger-category="Homepage header" href="plan1.html">Buy now!</a>
                                </div>
                            </div>
                        
                            <div class="header-banner slide-3" data-desktop-image="/assets/images/camp3.jpg" data-tablet-image="/assets/images/camp3.jpg" data-smartphone-image="/assets/images/camp3.jpg">
                                <div class="hero">
                                    <h2 class="responsive-headline">
                                        unlimited data + router + 50% bonus data
                                    </h2>
                                    <p>Connect with family and friends</p>
                        <a class="button trigger" title="Get it now" data-trigger-category="Homepage header" 
                        href="plan3.html">Get it now</a>
                                </div>
                            </div>
                        
                            <div class="header-banner slide-4" data-desktop-image="/assets/images/camp.jpeg" data-tablet-image="/assets/images/camp.jpeg" data-smartphone-image="/assets/images/camp.jpeg">
                                <div class="hero">
                                    <h2 class="responsive-headline">
                                       Bundle Based WiFi
                                    </h2>
                                    <p>Get plan today</p>
                        <a class=" button trigger" title="Get it now!" data-trigger-category="Homepage header" href="plan2.html">Get it now!</a>
                                </div>
                            </div>
                        
                            <div class="header-banner slide-5" data-desktop-image="/assets/images/Celteck2.jpeg" data-tablet-image="/assets/images/Celteck2.jpeg" data-smartphone-image="/assets/images/Celteck2.jpeg">
                                <div class="hero">
                                    <h2 class="responsive-headline">
                                        Single-User Hotspot Vouchers
                                    </h2>
                                    <p>GET UnlimitedPremium for endless online fun</p>
                        <a class=" button trigger" title="Order now!" data-trigger-category="Homepage header" href="plan4.html">Order now!</a>
                                </div>
                            </div>-->
                        
                            <!--<div class="header-banner slide-6" data-desktop-image="https://smile.com.ng/wp-content/uploads/2016/12/DND-web.jpg" data-tablet-image="https://smile.com.ng/wp-content/uploads/2016/12/DND-Tablet.jpg" data-smartphone-image="https://smile.com.ng/wp-content/uploads/2016/12/DND-mobile.jpg">
                                <div class="hero">
                                    <h2 class="responsive-headline">
                                        Do Not Disturb
                                    </h2>
                                    <p>You can OPT OUT at any time by sending STOP to 2442 (FREE)</p>
                        <a class=" button trigger" title="Learn more" data-trigger-category="Homepage header" href="https://smile.com.ng/do-not-disturb/">Learn more</a>
                                </div>
                            </div>-->
                        

    

</header>