
<!DOCTYPE html /assets "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html ng-app="myApp">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
            <title>Airfree Technologies Limited</title>
             

              <link rel="stylesheet" media="all" href="/assets/adapter-css/base.css" type="text/css" /> 
            <link rel="stylesheet" media="all" href="/assets/adapter-css/layout.css" type="text/css" /> 
            <link rel="stylesheet" media="all" href="/assets/adapter-css/skeleton.css" type="text/css" />
            <link rel="stylesheet" media="all" href="/assets/adapter-css/fonts.css" type="text/css" /> 


            
            
           <!-- <script type="text/javascript" src="https://smile.com.ng/scp/js/jquery.latest.js"></script>
            <script type="text/javascript" src="https://smile.com.ng/scp/js/jquery-ui.js"></script>-->
            <link rel="stylesheet" href="/assets/adapter-css/jquery-ui.css" type="text/css" /> 

               
            <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap.css"><!-- to be edited for php platform -->
            <style>

                body{
                    background-image:url(https://smile.com.ng/scp/images/bg.jpg);
                    background-repeat:no-repeat;
                    background-position: center;
                }

               .selected {
                    background-color: grey;
                    color:#fff;
                }

                .btn-select {
                    padding:10px; 
                    background-color:inherit;
                    color:#000;
                    border:none;
                    border-radius: 5px;
                }

            </style>

            <script type='text/javascript' src='/assets/js/angular-source.js'></script> 
        
        </head>
        <body ng-controller="signupController">    

            <div style="width: 40%;margin: 20px auto;">

            <div><font style="font-size:22px; font-weight: bold;">Welcome to Airfree Technologies Limited</font></div><br>

            <div>
            <a href="/">Go to home page </a> or <a href="/data/plan2">See plans</a>
            </div><br>
                
                
            <div style="line-height:35px;background-color: transparent;padding: 10px;box-shadow: 2px 5px 10px rgba(0,0,0,0.5);">
                <div>                     
                    
                    <h4>Sign In</h4><br>

                    <p><%= message %></p>

                    <form id="loginform" method ="POST" action="/auth/sign-in">
                        <div>
                        <label>Email:</label><br>
                        <input type="text" name="email"  placeholder="Email" class="form-control" required/>
                        </div> 

                        <div>                   
                        <label>Password:</label><br>
                        <input type="password" name="password"  placeholder="Password" class="form-control" required/>
                        </div> 
                        <a href="">Forgot password?</a>

                        <br>
                        
                        <input type="submit" class="btn btn-primary" name="login" value="Sign in" /><br>
                        Do not have an account? <a href="/signup">Register</a>
                   </form>
                </div>
            </div>     





            </div>
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type='text/javascript' src="/assets/js/angular-touch.min.js"></script>   
            <script type='text/javascript' src="/assets/angular-print/angularPrint.js"></script> 

            <script type='text/javascript' src='/assets/js/cliento.js'></script>
            <script type='text/javascript' src="/assets/js/ngresource.js"></script>   
        </body>
       
        
    </html>


