
<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
    <meta name="description" content="Superfast 4G LTE internet service that is affordable, high quality and reliable.">
    <meta name="author" content="Celteck">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Airfree Data Plans &#8211; Airfree&#8211; Now you can</title>

        <!--<script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/Airfree.com.ng\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
            !function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>-->
        <style type="text/css">
        img.wp-Airfreey,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        span.amount2 {
            background-color:#fff!important;\
            color: #6d5335;
            font-family: "UniversR";
            font-size: 40px;
            color: #333;
            position: relative;
            text-align: left;
            display: block;
            margin-top: 20px;
        }

        span.data-bundle2 {
            color: #fff!important;
            font-family: "UniversB";
            font-size: 32px;
            text-align: center;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        .data-bundle-column ul li:before {
            display:none;
        }

        .data-bundle-column ul li i {
            font-size: 22px;
            color:green;
            padding: 5px
        }

        .clearfix:after {
           content: " "; /* Older browser do not support empty content */
           visibility: hidden;
           display: block;
           height: 0;
           clear: both;
        }
        h4 {
            margin-top: 25px
        }
</style>

<link rel='stylesheet' id='storefront-style-css'  href='https://Airfree.com.ng/wp-content/themes/storefront/style.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='Airfree-css-css'  href='https://Airfree.com.ng/wp-content/themes/storefront-child/css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='Airfree-font-css'  href='/assets/my-edit-css/fonticon.css' type='text/css' media='all' />
<link rel='stylesheet' id='Airfree-fonticons-css'  href='https://Airfree.com.ng/wp-content/themes/storefront-child/css/fonticons/style.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='Airfree-plugin-magnific-popup-css'  href='https://Airfree.com.ng/wp-content/themes/storefront-child/css/plugin/magnific-popup.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='Airfree-plugin-circlehoverevents-popup-css'  href='https://Airfree.com.ng/wp-content/themes/storefront-child/css/plugin/circlehoverevents.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='Airfree-plugin-slick-carousel-css'  href='https://Airfree.com.ng/wp-content/themes/storefront-child/css/plugin/slick/slick.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='Airfree-plugin-slick-theme-carousel-css'  href='https://Airfree.com.ng/wp-content/themes/storefront-child/css/plugin/slick/slick-theme.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='storefront-woocommerce-style-css'  href='https://Airfree.com.ng/wp-content/themes/storefront/inc/woocommerce/css/woocommerce.css?ver=4.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='storefront-child-style-css'  href='https://Airfree.com.ng/wp-content/themes/storefront-child/style.css?ver=4.4.2' type='text/css' media='all' />

<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/main.css">
<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/edit.css"><!-- to be edited for php platform -->



    
        
        </head>

<body class="page page-id-591 page-template page-template-template-data-bundles page-template-template-data-bundles-php right-sidebar woocommerce-active" ng-app="myApp">
<div id="page" class="hfeed site">
    

    
    <% include header %>


    
    <div id="content" class="site-content" tabindex="-1">
        <div class="col-full">

            <div class="row">
                <!--<div class="woocommerce"></div><nav class="woocommerce-breadcrumb" ><a href="https://Airfree.com.ng">Home</a>&nbsp;&#47;&nbsp;Terms &amp; Conditions</nav>            </div>-->

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			
				
				
<article id="post-153" class="post-153 page type-page status-publish hentry" style="line-height: 25px">
	<header class="entry-header">
	   <h1 class="entry-title" itemprop="name">Consumer Code Of Practice</h1>
       <ol style="list-style:none">
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#about">Section 1 About us</a></li>
        <li><a href="#services">Section 2 Range of Services</a></li>
        <li><a href="#contract">Section 3 Responsiveness and Customer contract</a></li>
        <li><a href="#reporting">Section 4 Provision of main services</a></li>
        <li><a href="#complain">Section 5 Recording Complaints</a></li>
        <li><a href="#terms">Section 6 Terms and conditions of service</a></li>
        <li><a href="#responsible">Section 7 Our Responsibilities</a></li>

       </ol>
    </header><!-- .entry-header -->
	<div class="entry-content" itemprop="mainContentOfPage">
        <h4>Introduction:<a id="intro"></a></h4>
        <p>In this Code we attempt to provide answers to a range of questions you may have about our services and to provide you with information on how and where you can obtain advice and help.
        In addition to this Code we aim to comply with the principles outlined in various legislation including the Nigerian Communication Act 2003, Schedule 1 of the Consumer Code of Practice Regulation, 2007. We make available full and accurate information in plain language about how services are run, how they should perform and who is in charge. This code helps to explain what to do if things go wrong. It gives information on how to get a full explanation, together with a remedy. It sets out the complaints procedure and explains how to use it should the need arise.It also describes what to do if you have a complaint, how we will resolve it, and what you can do if you are not satisfied with our response. Nothing in this Code affects your statutory or common law rights, nor is anything contained in this Code intended to form part of a contract or collateral contract between Airfree Technologies Limited and any of its subscribers.
        Copies of this Code may be obtained by contacting our Customer Services.
        </p>

        <h4>1.0 &nbsp;&nbsp;&nbsp;&nbsp; About us <a id="about"></a></h4>
        <h4>1.1 &nbsp;Airfree Technologies</h4>
        <h6>Mission</h6>
        <p>To build the future of Nigeria communications through a sophisticated, hybrid approach to 
        Connectivity that combines fiber, satellite, microwave and wireless to create customized 
        Solutions for each customer.
        </p>
        <h6>Vision</h6>
        <p>To be a world class organization breaking all frontiers!</p>
        <h6>Airfree Behaviors</h6>
        <p>
            -      Customer obsessed: We are passionate about exceeding the customers’ expectations.<br>

-      Innovation hungry: We create and deliver new products, services and ways of working that delights our customers.<br>

-      Ambitious and competitive: We bring energy and passion to our work and always aim to beat the competition.<br>

-      Speed: We drive speed to market. We relentlessly prioritize and pursue the outcomes that matter to our business.<br>

-      Simplicity: We make things simple for our customers, partners and colleagues.<br>

-      Trust: We act with honestly, integrity and fairness, are reliable to deal with and value the trust and confidence placed in us.


        </p>


        <h4>1.2 How to contact us </h4>  
        <p>
            Please feel welcome to contact us if you need advice, information, or assistance with any matter relating to our business.

            General enquiries

            Telephone: +2348139123492
            Website:  http://www.airfreeng.com
            Email: contact@airfreeng.com

            Our main office address is:

            Airfree Technologies Limited
            Suit BG3 Annex B Metro Plaza,  <br/>
            Central Business District,<br/>
            Abuja Nigeria.
        </p>
        <p>
            Airfree Technologies offers you one of the best broadband experiences. From the ability to access information in seconds to high quality video and audio streaming, the Airfree Technologies broadband web site was built with you and your needs in mind. 
Airfreeoffers Internet Access using both fixed and wireless access technologies. We offer you guaranteed high-speed business Internet connectivity.
When your business needs fast reliable Internet connectivity with built-in failover and redundancy, backed by Service Level Agreements, Dedicated Internet Access from Airfreeis the optimal solution.

        </p>  

        <h4>2.0 &nbsp;&nbsp;&nbsp;&nbsp; Ranges Of Services <a id="services"></a></h4>
        <h4>2.1.1 &nbsp; The Internet</h4>
        <p>
            With Internet you can be permanently connected and pay a fixed monthly fee or only pay for the time you use.

            Broadband Internet means you have the ease of 'always on' access to email, personal web space and chat facilities, plus multi-player gaming, exclusive movie features, music, videos and interviews. We'll help you make the most of your time online with our range of broadband services.

        </p>

        <h4>Intranet /Leased line</h4>
        <p>Airfree Technologies provides leased line or Data connectivity to enable companies to connect different remote sites.</p>

        <h4>2.1.3 &nbsp;Fixed Wireless Broadband (FWB)</h4>
        <p>FWB is a type of high-speed Internet access where connections to the internet are made by service providers using radio signals rather than cables. Several different forms of fixed wireless broadband are available to residential and business customers. This include a Point -to- Point connection or Point -to-Multipoint connection with the use of Customer Premises Equipment (CPE).</p>
        <h4>2.1.4 &nbsp; Wireless Fidelity (Wi-Fi) </h4>
        <p>Wi-Fi utilizes one of the IEEE 802.11 wireless standards to achieve a wireless network. A home / enterprise wireless network commonly broadcast a signal using security standards like WAP/WAP2 to send and receive signals from wireless device on the network.</p>

        <h4>2.1.5 &nbsp;Virtual Private Network (VPN) </h4>
        <p>A virtual private network provides a private communications network over a shared (public) network infrastructure. For example, an IP VPN can provide secure end-to-end connections through a public IP network.</p>

        <h4>3.0 &nbsp;&nbsp;&nbsp;&nbsp; Responsiveness and Customer contract <a id="contract"></a></h4>
        <h4>3.1 &nbsp;Responsiveness </h4>
        <p>Airfree Technologies shall adopt the following five customer care principles that will guide how we do our business in responding to our consumer's request</p>
        <ul>
            <li>We will deliver quality, value and excellent service to customers every time. </li>
            <li>We will deliver quality and value for money, and always endeavor to put the consumer first. </li>
            <li>We will always utilize responsible marketing practices.</li>
            <li>We will make sure that our customers can make informed choices based on honest and straightforward information we provide. </li>
            <li>We will protect the confidentiality of information given to us by our customers in keeping with section 146 of the Nigerian Communications Act, 2003. </li>
        </ul>
        <p>In the event of request for information from existing and prospective customer, Airfree Technologies shall make available in response.</p>
        <ol>
            <li>The rate for each services, terms and conditions for all services offered to the public is available in print and electronic format and our website http://www.airfreeng.com. This shall also be available at our POS outlets and offices where are services can be deployed </li>
            <li>In a situation where there may be need for a price change in our service, we shall notify our customers either by print or electronic media. </li>
        </ol>

        <h4> 3.3 &nbsp;Entering Into Contract with Consumer </h4>

        <p>3.31 &nbsp;   Before entering into contract with any customer, we shall provide a complete description of the service(s) to be delivered in plain and clear language. We shall maintain high quality of what we do through constant ongoing review of all aims, activities, outcomes and the cost-effectiveness of every activity. We encourage regular review meetings and provide regular progress report. Hence information about the quality of the service will be made known to prospecting customer. Full details of such services shall be adequately advertised. This information will include the waiting time for the service to be deployed. </p>

        <p>3.32  &nbsp;  When terminated by the Customer due to a material breach by Airfree Technologies, the Service fee for the ongoing service will be refunded by Airfree Technologies. </p>

        <p>3.33  &nbsp;  A description and price for services and component sold separately will be spelt out to prospecting consumer. </p>


        <p>3.34  &nbsp;  In the event of upgrade or migration options, information will be made available to consumers with regards to the upgrade and migration terms </p>

<h4> 3.4&nbsp;  Pricing Information for Contracting Service </h4>


<p>3.41  &nbsp;   Customers will be given full information about the rates, charges of part and of element where applicable including all calculations. </p>

<p> 3.42 &nbsp;    The frequency in invoicing will depend on the type of the service to be deployed. </p>

<p>3.43 &nbsp;    The prices of individual service may be changed from time to time at the discretion of Airfree Technologies, but the circumstances that will inform the change will be communicated to customers via email and or hand delivery. </p>

<h4>3.5&nbsp; Contract Term and Termination </h4>


<p>3.51 &nbsp;    The commencement date of the service will be after the complete deploying of the service. </p>

<p>3.52 &nbsp;    Each Party shall have the right to terminate this Agreement upon thirty 

(30)    days prior written notice if the other Party is in breach of any material obligation under this Agreement or the Applicable License Agreement accompanying the Services and the breaching Party fails to remedy such breach within such notice period. </p>

<p>3.53 &nbsp;   When terminated by Airfree Technologies Limited due to a material breach by the Customer the Service Fee paid by the Customer or any part thereof will not be refunded to the Customer. <p>

<p>3.54 &nbsp;   When terminated by the Customer due to a material breach by Airfree Technologies the Service Fee for the ongoing Service Period will be refun</p>

<p>3.55 &nbsp; Customer already terminated can be reconnected on the payment of reconnection fee to be determined by Airfree Technologies.</p>

<p>3.56  &nbsp;  A residential customer may decide to terminate or discontinue its service with Airfree Technologies by not recharging at expiry of his plan. 

A postpaid customer may decide to terminate or discontinue its service with Airfree Technologies, at such instant, the customer is oblige to notify Airfree Technologies by writing thirty (30) days before expiry of his plan. </p>
<p> 3.57  &nbsp;  An interruption in the service as a result of fault from Airfree Technologies, the customer will be adequately compensated. But where the fault is from the customer, he shall bear the loss for installation where delivery is outside the operational office of Airfree Technologies the customer shall be responsible for conveyance of equipment, cater for housing and feeding of the staffs.</p> 

<p>3.58  &nbsp;  Airfree Technologies may amend the terms of these General Conditions and any Exhibit without prior written notice to the Customer. The Customer shall be entitled to terminate the Agreement by giving a written notice to Airfree Technologies to that effect prior to the effective date of such amendment; otherwise such amendments shall become effective and shall apply as of the effective date specified in the Airfree Technologies’s notice, not however earlier than from the beginning of the subsequent service period. </p>

<p>3.59 &nbsp;   The different alternatives for Service Hours and Response Times shall be given in the applicable Service Description(s). In case not otherwise agreed in the Agreement Document the Service Hours will be the office hours. </p>



<h4>4.0 &nbsp;&nbsp;&nbsp;&nbsp; Provisioning of Services and fault reporting <a id="reporting"></a></h4>

<p>In the event that Airfree Technologies encounters technical problems that interfere with provisioning of our services, the time for provisioning will be subject to any time or process of rectification permitted by Nigerian Communications Commission.</p>

<p>4.10  &nbsp;  Airfree Technologies shall not be responsible for any readiness or availability of infrastructure or equipment that is beyond our reasonable control. </p>

<p> 4.11  &nbsp;  Airfree Technologies shall not be responsible for delays or refusals of service requests caused by customer being identified as not credit-worthy. </p>

<h4>4.2&nbsp; Customer complaints </h4>

<p>We are committed to providing world-class telecommunications services. If you are unhappy with any aspect of our service, or the way we do business with you, then we would like to know and get your feedback. We can then make changes and improve our service. </p>

<h4>4.3&nbsp; How to contact us if you have a problem </h4>

<p>If your problem is a general one about our products sales or service or fault on your service please call us on +23408139123492 or write to:<br> 

Customer Services Manager<br>

Airfree Technologies Limited<br>

Suit C2 Goshen Plaza,<br/>
38 Garden Avenue GRA Enugu. <br/>
Enugu State,  Nigeria.<br>

Email: contact@airfreeng.com</p>



<h4>5.0 &nbsp;&nbsp;&nbsp;&nbsp; Recording complaints <a id="complain"></a></h4>

<p>To help us respond efficiently, our Customer Services keeps a record of any complaints we receive. This may include taking written notes of relevant telephone conversations, and making copies of any written communications. 

We will treat the records we keep as confidential and will handle them within the relevant data protection, privacy and confidentiality legislation that applies in Nigeria. 

Please keep a note of the date(s) and time(s) when you’ve spoken with us about your complaint; whom you spoke to; and what they said or promised to do. 

If the Nigerian Communications Commission (“NCC”) becomes involved in resolving a dispute with you, we may provide them with copies of records we hold about your complaint. 

We will normally keep records for three years after a customer disagreement or complaint. </p>

<h4>5.1 &nbsp; Responding to complaints </h4>

<p>We will do everything we can to resolve complaints, disagreements or disputes as quickly and efficiently as possible. Our Customer Services Manager will investigate your complaint and discuss a course of action with you to resolve the matter quickly and to your satisfaction. </p>

<h4>5.2 &nbsp; Handling Complaints </h4>

<p>5.21  &nbsp;  All communication to Airfree Technologies shall be channeled by mail, telephone, letter writing or by using a web form. The email addresses and phone numbers are available at Airfree Technologies website www.airfreeng.com. The preferred way of communication is always by email. The secondary form of communication is by phone. Any telephone contacts requiring further communication are transferred to e-mail for tracking purposes and to ensure service level.</p>


<p>5.22 &nbsp;   Upon receiving a support request, Airfree Technologies shall confirm both customer and technical information necessary for a timely and efficient response. The customer shall receive communication from Airfree Technologies when additional information is required during the troubleshooting process; or is responded to and/or resolved. </p>

<p>5.23  &nbsp;  Support Services consist of technical support and assistance by email and telephone to the customer using the Service. Support Services include receiving, classifying, and logging Support Requests and the assignment thereof to Airfree Technologies Technical Specialists who are responsible for troubleshooting the problem until it is resolved. </p>

<p>5.24 &nbsp;  A problem is considered resolved when: <br>


a.  The Service conforms substantially to its specifications; or <br>

b.  The Customer has been advised on how to correct or bypass the error; or <br>

c.  It has been discovered that the problem is a hardware failure and, in case of <br>

d.  Airfree Technologies supplied equipment, the RMA process has been started to replace the unit or the spare part in question; or<br> 

e.  It has been discovered that the problem falls within the category not covered by the service fee, and the customer has been notified thereof </p>

<p>5.25  &nbsp;  Airfree Technologies does not guarantee problems will be fixed in any specific time frame due to the fact that Airfree Technologies does not manufacture the equipment. It is the goal of our organization to deliver commercially reasonable efforts to satisfactorily  resolve  each  incident  using  theguidelines of the in Call Classification.</p>



 




<p>5.26    The following classification will be used to identify the call based on its severity: <br>
a)  Critical Technical Issues consist of a total loss of core functionality inthe Services that severely affect the Customer's enjoyment of the Service. Airfree Technologies is willing to provide full-time resources to resolve the issue during the service hours specified in the agreed support service level<br> 

b)  Major Technical Issues include severe performance problems in theServices that have a noticeable impact on Customer enjoyment of the Service. Airfree Technologies is willing to provide resources during standard business hours to resolve the issue according to the agreed support service level. <br>

c)  Other Issues consist of technical issues that have minor or no impacton Customer's enjoyment of the service, requests pertaining to preventive maintenance. Requests for technical assistance during usage of the Service always fall into this category. Airfree Technologies is willing to provide resources during standard business hours to provide assistance and information to solve the issue. </p>



<h4>5.3 &nbsp; Resolving complaints </h4>

<p>While we intend to do everything we can to resolve complaints, disagreements or disputes, sometimes a satisfactory conclusion cannot be reached. This may be because you are dissatisfied with the outcome, or we have exceeded our target time for resolving a problem. If so, you can take the matter further by referring it to the Consumer Affairs Bureau of the NCC. </p>

<p>5.31 &nbsp;   NCC will act impartially and try to find a fair outcome for all the parties if it decides that we have not adequately resolved the matter. If the NCC believes we have acted reasonably, you will be informed of this.<br>

However, if the complaint remains unresolved, you can ask for the matter to be referred the NCC will take the complaint forward in whatever manner it considers appropriate. </p>

<p>5.32 &nbsp;  Nothing in this scheme or process prevents you seeking resolution through the courts. <br>

You can write to: <br>

The Nigeria Communications Commission (NCC) Plot 423 AguiyiIronsi Street, <br>

Maitama, Abuja, FCT, Nigeria.<br>
Tel: +234-9-4617000 <br>

E-mail: mailto:info@ncc.gov.ng<br>
web site: http://www.ncc.gov.ng </p>




<h4>6.0  &nbsp;&nbsp;&nbsp;&nbsp; Terms and Conditions of Service <a id="terms"></a><h4>

<h4>6.1 &nbsp; Quality of Service 

<p>6.11  &nbsp;  All other factors being present, Airfree Technologies shall guarantee 98% uptime for all its Internet access services. Airfree Technologies is, however, may not always be able to guarantee service access speeds. These can be affected by a wide range factors outside of our control. Web access and download speeds will be affected by other users on a global scale. </p>

<p>6.12  &nbsp;  If a fault occurs in our system, we will inform our customers by the feasible means and in the least time possible. Our target for fixing faults is no more than 24 hours and usually we will be able to resolve all faults within that period. Where customer connections are provided over circuits not owned or managed by Airfree Technologies, service disruptions and fault fixes may take longer than 24 hours. </p>

<p>6.13  &nbsp;  We may have to suspend service without prior notice; however this would only be for circumstances beyond our control such as emergency maintenance, an act of government or an act of God. While Airfree Technologies will always try to ensure that any suspension causes minimum inconvenience, we are unable to accept any responsibility for financial or consequential loss that you may suffer as a result. </p>

<h4>6.2 &nbsp; Quality assurance </h4>


<p>Airfree Technologies maintains the quality of what we do through constant ongoing review of all aims, activities, outcomes and the cost-effectiveness of every activity. </p>


<h4>6.3 &nbsp; Accessing or transmitting unlawful material </h4>


<p>Airfree Technologies recognizes that you will want to be able to access a wide 
range of Internet services as possible and does not wish to restrict that access. However, we do not knowingly permit the transmission of, or access to, material that the Nigerian law enforcement authorities regard as unlawful. Airfree Technologies advises that a very large quantity of data passes through its network each day and that it is impossible to monitor all traffic passing through the system.</p>

<p>6.31  &nbsp;  Airfree Technologies understands that the original content provider is responsible for content published on the Internet and for ensuring that the content is lawful. We do not, and cannot, limit access to materials unless advised by appropriate law enforcement agencies that material is unlawful. </p>

<p>6.32 &nbsp;   Airfree Technologies does operate its own Subscription Agreement and will take action to limit your access if your actions are in contravention of the agreement. It you feel that any site is in contravention of any laws of the Federal Republic of Nigeria, you should contact the Nigerian Communications Commission' (NCC) and give information about the location of such site. </p>

<h4>6.4 &nbsp; Compliments </h4>

<p>We always like to know when our staff has given you exceptional service and you can pass your comments directly to the Airfree Technologies Limited department concerned. Alternatively, we would be delighted to receive written compliments. Please address your letter to: <br>

Customer Services Manager <br>

Airfree Technologies Limited<br>

Suit C2 Goshen Plaza,<br/>
38 Garden Avenue GRA Enugu. <br/>
Enugu State,  Nigeria.<br>

Email: contact@airfreeng.com<br>

http://www.airfreeng.com<br>

<h4>6.5 &nbsp; Repair service <h4>

<p>If we have to visit your home or premises, we can offer appointments between 8.30am and 5pm, Monday to Friday. We aim to rectify faults within 16 working hours. Sometimes factors outside our control can extend the time taken to make repairs. If we are unable to repair your Internet service within our target time, we will contact you. </p>

<p>6.51  &nbsp;  Lightning can damage communication equipment, so we strongly recommend that you unplug any routers, modems, satellite receivers etc from any electricity supply, if a storm is likely. Lightning damage to any equipment will be charged at our normal repair charge prices. 

Customers should insure their equipment, both purchased and rented, against loss or damage; particularly CPEs, where the replacement cost may be much higher than the original purchase price. </p>



<h4>6.6 &nbsp; Getting Services Installed </h4>


<p>We offer a range of services for Internet access, a variety of packages, and broadband Internet in the South East Region. Our sales teams can confirm the serviceability of your address for our services. We aim to deliver service to dates agreed with you. We need appropriate access to your property to install the relevant equipment.</p>



<h4>6.7 &nbsp; Repair and Maintenance </h4>

<p>Airfree Technologies Limited carries out preventative and corrective maintenance over its networks and services. Our aim is to minimize inconvenience and correct faults through remote diagnostic tools used at our Fault Management Centre and/or with other technical support centers.</p>

<p>6.71  &nbsp;  We have a number of customer educations and self-help options for our services, and we recommend all customers use these facilities before reporting a fault to the Fault Management Centre. </p>

<h4>6.8 &nbsp; Technical Support </h4>

<p>Airfree Technologies provides a Technical Support facility which can be accessed from 24 Hours seven days a week. All customer fault complaints are dealt with on the telephone. Calls are charged at the regular call rate by your telephone provider. </p>


<h4>6.9 &nbsp; Credit Policy </h4>

•   We expect our customers to: <br>

•   Pay their bills promptly. <br>

•   Inform us of any significant change in their circumstances – for example if you are going to be away for an extended period which may affect bill payment. 

•   Be honest with us when providing personal information. <br>



<h4> 7.0 &nbsp;&nbsp;&nbsp;&nbsp;Our Responsibilities <a id="responsible"></a></h4>


<p>Airfree Technologies Limited is keen to ensure our customers receive a fair deal. We provide compensation on an individual customer case basis, where customers have been disadvantaged by Airfree Technologies Limited actions, providing that customers have been using the services in accordance with our published terms and conditions. </p>

<h4> 7.1 &nbsp; Confidentiality of Customer Information <h4>


<p>We will treat any information we have about you in confidence and will not disclose it to anyone except yourself, or in accordance with any instructions you have given us. However, there are circumstances in which we may be required by law to disclose information. Such requests normally come from Statutory Authorities, for example, Police Forces, Customs and Excise etc. Any such disclosure will be strictly controlled and will be made fully in accordance with current Nigerian legislation. </p>

<h4>7.2 &nbsp; Communication with customers </h4>


<p>We believe in effective communications with our customers. Customers can contact us by phone on the numbers specified above (How to Contact Airfree Technologies), or at any time by e-mail. 
We will also “promote” our services, including special offers, through a variety of media, but only where you have agreed to such contact. In doing this we will abide by the industry-accepted standard.</p>

<h4> 7.3 &nbsp; Social Responsibility </h4>


<p>7.31  &nbsp;  Airfree Technologies Limited has a well-defined three way internal communications approach that includes regular website information, group-wide email and printed announcements on Company performance, special events and business achievements. </p>

<p>7.32 &nbsp;   We are committed to equal opportunities and to enhancing the diversity of our workforce, based on performance and capability. Through our policies, we aim to ensure that we do not discriminate between employees or potential employees on the basis of sex, sexual orientation, disability, race, religion, age, marital status, physical appearance or ethnic origin. If individuals become disabled during employment and they are unable to continue to perform their jobs, consideration is given to retraining for alternative jobs. </p>

<p>7.33  &nbsp;  We invest in the development and training of all our people, encouraging them to focus their learning around business needs and to pursue appropriate development opportunities. </p>

<h4>7.4 &nbsp; Environmental Policy </h4>

<p>Airfree Technologies Limited takes its responsibility to the environment seriously and recognizes the importance of developing and maintaining good environmental standards. The company is committed to the process of improvement in its environmental performance, seeking not only to comply with legal or mandatory requirements but also proactively to develop initiatives designed to reduce the impact of its business on the environment. </p>








	</div><!-- .entry-content -->
</article><!-- #post-## -->

				
			
		</main><!-- #main -->
	</div><!-- #primary -->





        </div><!-- .col-full -->
    </div><!-- #content -->

    <section style="background-color:#d1d1d;width:70%;margin:0 auto;text-align:left">
        <div class="plans four columns">
            <h3 style="color:#6d5335;padding: 5px 0">Other Plans</h3>
            <ul class="price-benefit">
                <li><a href="plan1.html"> Unlimited Internet Access </a></li>
                <li><a href="plan2.html"> Bundle-based (Wifi) Internet access</a></li>
                <li><a href="plan3.html"> Shared Unlimited Access</a></li>
                <li><a href="plan4.html"> Single-User Hotspot Vouchers</a></li>
            </ul>
        </div>
        <div class="plans four columns">
            <h3 style="padding: 5px 0;color:#6d5335;">Feature Benefits</h3>
            <ol class="price-benefit">
                <li>99% availablility and always-on connectivity</li>
                <li>Lightning speed connection</li>
                <li>Zero cost of equipment repair or replacement</li>
                <li>Professional IT support & 24x7 Customer service</li>
                <li>Chat with us Live!</li>
            </ol>
        </div>
    </section>
    <div class="clearfix"></div>
    <div style="height: 50px;background-color:#023e2b">
    </div>
    <% include footer %>
    <div style="background-color:#023e2b;margin:0;">
        <p style="text-align: center; color:#fff;padding:30px;margin:0;border:none">Copyright © 2017 Airfree .  All Rights Reserved.</p>
    </div>

</div><!-- #page -->


<div class="window-overlay close-window-overlay">

</div>

<div class="window-overlay-content">
    <span class="close-window-overlay icon-cross"></span>
    </div>

<!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
  <!--Start of Zopim Live Chat Script-->
 

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type='text/javascript' src='/assets/js/angular-source.js'></script>
<script type='text/javascript' src="/assets/js/angular-touch.min.js"></script>   

<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront-child/js/main.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront-child/js/libs/modernizr.custom.36067.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.magnific-popup.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront-child/js/plugin/slick.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.placeholder.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.waypoints.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront-child/js/bday-picker.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront/js/navigation.min.js?ver=20120206'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-content/themes/storefront/js/skip-link-focus-fix.min.js?ver=20130115'></script>
<script type='text/javascript' src='https://Airfree.com.ng/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>

       

<script type='text/javascript' src='/assets/js/client.js'></script>
<script type='text/javascript' src="/assets/js/ngresource.js"></script>    
</body>
</html>