
<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recharge</title>

<link rel="stylesheet" type="text/css" href="/assets/my-edit-css/edit.css"><!-- to be edited for php platform -->

<link rel='stylesheet'   href='/assets//my-edit-css/main.css' type='text/css' media='all' />
<link rel='stylesheet'   href='/assets/my-edit-css/fonticon.css' type='text/css' media='all' />
<link rel="stylesheet"  href="/assets/my-edit-css/font-awesome.min.css">




<link rel='stylesheet' id='storefront-child-style-css'  href='https://smile.com.ng/wp-content/themes/storefront-child/style.css?ver=4.4.2' type='text/css' media='all' />

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<script type='text/javascript' src='/assets/js/angular-source.js'></script> 
<script type='text/javascript' src="/assets/angular-print/angularPrint.js"></script>   

<script type='text/javascript' src='/assets/js/client.js'></script>  



        
        <style type="text/css">

span.amount2 {
    background-color:#fff!important;\
    color: #6d5335;
    font-family: "UniversR";
    font-size: 40px;
    color: #333;
    position: relative;
    text-align: left;
    display: block;
    margin-top: 20px;
}

span.data-bundle2 {
    color: #fff!important;
    font-family: "UniversB";
    font-size: 32px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.data-bundle-column ul li:before {
    display:none;
}

.data-bundle-column ul li i {
    font-size: 22px;
    color:green;
    padding: 5px
}

.gotopay {
    visibility: visible; 
    color:#fff;
    background-color:orange;
}


.pay-btn {
    color:#fff;
    background-color:orange;
    visibility: hidden;
}

.pay-btn2 {
    color:#fff;
    background-color:orange;
    visibility: visible;
}

.get-acc {
    padding:10px;
    background-color:orange;
    text-decoration:none;
    color:#fff!important;
    border-radius:3px;
    margin-top:40px!important;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



</style>




    
       
        </head>

<body class="page page-id-13969 page-template page-template-template-recharge page-template-template-recharge-php right-sidebar woocommerce-active">
<div id="page" class="hfeed site">
    

    
   <% include header %>


    
    <div id="content" class="site-content" tabindex="-1">
        <div class="col-full">

            <div class="row">
                <div class="woocommerce"></div><nav class="woocommerce-breadcrumb" ><a href="plan2.html">Home</a>&nbsp;&#47;&nbsp;Recharge</nav>            </div>


<section id="recharge" class="fill-screen" ng-app="myApp">
    <div class="row">
        <a href="/data/plan2">Back to data plans</a>
        <div class="twelve columns section-title section-text-center">
            <h1>Recharge</h1>
                    </div>

        <div class="recharge-block" ng-controller="rechargeController" ng-init="displayData()">
            <div class="data-bundle-row six columns">
                <div class="five columns data-bundle-column">
                    <div class="circle light-green" ng-if="plan.GB">
                        <span class="circle-back"></span>
                        <span class="data-bundle2" ng-cloak>{{plan.GB}}<span class="data-bundle-size">GB</span></span>
                    </div>
                    <p ng-if="!plan.GB" style="font-size:18px;font-style:italic;background-color:orange: Color:#fff"  ng-cloak>{{plan.title}}</p>
                </div>
                <div class="seven columns data-bundle-column">
                    <span class="column-title">Includes:</span>
                    <ul>
                        <li ng-if="plan.description"  ng-cloak> Description: {{plan.description}}</li>
                        <li ng-if="plan.speed"  ng-cloak>Speed: {{plan.speed}}</li>
                        <li ng-if="plan.duration"  ng-cloak>Duration: {{plan.duration}}</li>
                        <li ng-if="plan.rate"  ng-cloak>{{plan.rate}}</li>
                        <li>Unlimited Night (12am - 6am)</li>
                    </ul>
                    <div class="price"  ng-cloak><span class="column-title" ng-cloak>Price:</span><span class="amount2"><span class="currency-symbol">&#8358;</span >&nbsp;{{plan.price}}</span></div>
                </div>
            </div>

            <div class="recharge-form-parent six columns">
                <% if(!presence.name) { %>
                    <form method="POST" action="/auth/quick-signin">
                        <div><%= presence.message %></div>

                        <p class="text-danger" style="color: red"><%= presence.errMsg %></p>
                      
                        <label for="recharge-email">Email:</label>
                        <input type="email" name="email"  autofocus/><br>

                        <label for="recharge-email">Password:</label>
                        <input type="password" name="password"  autofocus/><br>
                        <!--<label for="recharge-email">Enter password</label>
                        <input type="password" name="password"  autofocus/>-->
                        <!--<p style="color:green" ng-if="isTrue"><i class="fa fa-check" style="padding:5px"></i><span>Account found! Please click below to complete payment</span></p>
                        <p style="color:red" ng-if="isError"><i class="fa fa-warning" style="padding:5px"></i><span>Account NOT found! Wrong email or password</span>
                            <strong>Not registered? Please <a href="/signup" style="color:green;font-size:18px">quickly signup now!</a></strong>
                        </p>-->
                        <button class="get-acc" ng-class="{'pay-btn2': userDetails}" >Get my accounts</a>
                        </button><br>

                        <span>Don't have an account yet? <a href="/signup">Create one</a> </span>
                        <!--<label for="recharge-account">Select your Smile account:</label>userDetails
                        <select name="recharge-account" disabled></select>
                        <label for="recharge-service">Select Smile SIM card:</label>
                        <select name="recharge-service" disabled></select>-->
                        <!--<div ng-cloak>
                            <a href="payment.html"  class="get-acc"  ng-if="userDetails">GO TO PAYMENT</a>
                        </div>-->
                    </form>
                <% } else { %>
                    <h5 class="p-2">Hi, <%= presence.name %> </h5><br>
                    <a href="#" class="get-acc">Recharge</a>
               <% } %>
            </div>
        </div>
    </div>
</section>

<div id="fullscreen-loader">
    <div class="spinner"></div>
    <div class="message">Loading customer data</div>
</div>





        </div><!-- .col-full -->
    </div><!-- #content -->

  <section style="background-color:#d1d1d;width:70%;margin:0 auto;text-align:left">
        <!--<div class="plans four columns">
            <h3 style="color:#6d5335;padding: 5px 0">Other Plans</h3>
            <ul class="price-benefit">
                <li><a href="/data/plan1"> Unlimited Internet Access </a></li>
                <li><a href="/data/plan2"> Bundle-based (Wifi) Internet access</a></li>
                <li><a href="/data/plan3"> Shared Unlimited Access</a></li>
                <li><a href="/data/plan4"> Single-User Hotspot Vouchers</a></li>
            </ul>
        </div>-->
        <div class="plans twelve columns">
            <h3 style="padding: 5px 0;color:#6d5335;">Feature Benefits</h3>
            <ol class="price-benefit">
                <li>99% availablility and always-on connectivity</li>
                <li>Lightning speed connection</li>
                <li>Zero cost of equipment repair or replacement</li>
                <li>Professional IT support & 24x7 Customer service</li>
                <li>Chat with us Live!</li>
            </ol>
        </div>
    </section>
    <div class="clearfix"></div>
    <div style="height: 50px;background-color:#023e2b">
    </div>
    <% include footer %>
   <% include end %>
</div><!-- #page -->


<div class="window-overlay close-window-overlay">

</div>

<div class="window-overlay-content">
    <span class="close-window-overlay icon-cross"></span>
    </div>

<!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
  <!--Start of Zopim Live Chat Script-->
  


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type='text/javascript' src="/assets/js/angular-touch.min.js"></script>  
  
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/main.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/libs/modernizr.custom.36067.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.magnific-popup.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/slick.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.placeholder.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/plugin/jquery.waypoints.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront-child/js/bday-picker.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/navigation.min.js?ver=20120206'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-content/themes/storefront/js/skip-link-focus-fix.min.js?ver=20130115'></script>
<script type='text/javascript' src='https://smile.com.ng/wp-includes/js/wp-embed.min.js?ver=4.4.2'></script>

<script type='text/javascript' src="/assets/angular-print/angularPrint.js"></script>  
<script type='text/javascript' src="/assets/js/ngresource.js"></script>    
        
</body>
</html>